@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/flaticon.eot");
    src: url("../fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon/flaticon.woff") format("woff"),
    url("../fonts/flaticon/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
    margin-left: 0px;
    margin-top: 3px;

}.flaticon-active4:before {
	content: "\e000";
}
.flaticon-alert9:before {
	content: "\e001";
}
.flaticon-architecture2:before {
	content: "\e002";
}
.flaticon-armchair1:before {
	content: "\e003";
}
.flaticon-audience1:before {
	content: "\e004";
}
.flaticon-avatar:before {
	content: "\e005";
}
.flaticon-bed39:before {
	content: "\e006";
}
.flaticon-black335:before {
	content: "\e007";
}
.flaticon-black338:before {
	content: "\e008";
}
.flaticon-blank30:before {
	content: "\e009";
}
.flaticon-blank32:before {
	content: "\e00a";
}
.flaticon-book48:before {
	content: "\e00b";
}
.flaticon-books30:before {
	content: "\e00c";
}
.flaticon-books49:before {
	content: "\e00d";
}
.flaticon-books8:before {
	content: "\e00e";
}
.flaticon-broken2:before {
	content: "\e00f";
}
.flaticon-broken44:before {
	content: "\e010";
}
.flaticon-building113:before {
	content: "\e011";
}
.flaticon-building30:before {
	content: "\e012";
}
.flaticon-building48:before {
	content: "\e013";
}
.flaticon-building72:before {
	content: "\e014";
}
.flaticon-building8:before {
	content: "\e015";
}
.flaticon-building82:before {
	content: "\e016";
}
.flaticon-business103:before {
	content: "\e017";
}
.flaticon-business48:before {
	content: "\e018";
}
.flaticon-businessman:before {
	content: "\e019";
}
.flaticon-businessman248:before {
	content: "\e01a";
}
.flaticon-businessmen10:before {
	content: "\e01b";
}
.flaticon-businessmen6:before {
	content: "\e01c";
}
.flaticon-buy11:before {
	content: "\e01d";
}
.flaticon-calendar152:before {
	content: "\e01e";
}
.flaticon-calentar:before {
	content: "\e01f";
}
.flaticon-card28:before {
	content: "\e020";
}
.flaticon-caution2:before {
	content: "\e021";
}
.flaticon-cellphone20:before {
	content: "\e022";
}
.flaticon-cellphone66:before {
	content: "\e023";
}
.flaticon-cellphone83:before {
	content: "\e024";
}
.flaticon-cellphone91:before {
	content: "\e025";
}
.flaticon-chair13:before {
	content: "\e026";
}
.flaticon-chair21:before {
	content: "\e027";
}
.flaticon-check7:before {
	content: "\e028";
}
.flaticon-checkbox3:before {
	content: "\e029";
}
.flaticon-checkbox7:before {
	content: "\e02a";
}
.flaticon-circle48:before {
	content: "\e02b";
}
.flaticon-classroom:before {
	content: "\e02c";
}
.flaticon-clock104:before {
	content: "\e02d";
}
.flaticon-clock125:before {
	content: "\e02e";
}
.flaticon-closed42:before {
	content: "\e02f";
}
.flaticon-closed59:before {
	content: "\e030";
}
.flaticon-closed61:before {
	content: "\e031";
}
.flaticon-coffee26:before {
	content: "\e032";
}
.flaticon-coffeeshop:before {
	content: "\e033";
}
.flaticon-computer134:before {
	content: "\e034";
}
.flaticon-computers:before {
	content: "\e035";
}
.flaticon-cook8:before {
	content: "\e036";
}
.flaticon-covered18:before {
	content: "\e037";
}
.flaticon-credit-card10:before {
	content: "\e038";
}
.flaticon-credit-card12:before {
	content: "\e039";
}
.flaticon-credit-card21:before {
	content: "\e03a";
}
.flaticon-credit-card28:before {
	content: "\e03b";
}
.flaticon-credit-card4:before {
	content: "\e03c";
}
.flaticon-credit-card9:before {
	content: "\e03d";
}
.flaticon-credit19:before {
	content: "\e03e";
}
.flaticon-credit20:before {
	content: "\e03f";
}
.flaticon-credit44:before {
	content: "\e040";
}
.flaticon-credit51:before {
	content: "\e041";
}
.flaticon-credit96:before {
	content: "\e042";
}
.flaticon-creditcard3:before {
	content: "\e043";
}
.flaticon-cup38:before {
	content: "\e044";
}
.flaticon-cup40:before {
	content: "\e045";
}
.flaticon-debit:before {
	content: "\e046";
}
.flaticon-dining3:before {
	content: "\e047";
}
.flaticon-dining4:before {
	content: "\e048";
}
.flaticon-dining6:before {
	content: "\e049";
}
.flaticon-do4:before {
	content: "\e04a";
}
.flaticon-do7:before {
	content: "\e04b";
}
.flaticon-door2:before {
	content: "\e04c";
}
.flaticon-door20:before {
	content: "\e04d";
}
.flaticon-door24:before {
	content: "\e04e";
}
.flaticon-doors:before {
	content: "\e04f";
}
.flaticon-doors2:before {
	content: "\e050";
}
.flaticon-double120:before {
	content: "\e051";
}
.flaticon-draft:before {
	content: "\e052";
}
.flaticon-edit38:before {
	content: "\e053";
}
.flaticon-edit40:before {
	content: "\e054";
}
.flaticon-edit43:before {
	content: "\e055";
}
.flaticon-exclamation14:before {
	content: "\e056";
}
.flaticon-exclamation33:before {
	content: "\e057";
}
.flaticon-first-aid:before {
	content: "\e058";
}
.flaticon-first-aid1:before {
	content: "\e059";
}
.flaticon-gears6:before {
	content: "\e05a";
}
.flaticon-girl35:before {
	content: "\e05b";
}
.flaticon-hand26:before {
	content: "\e05c";
}
.flaticon-heating5:before {
	content: "\e05d";
}
.flaticon-hot51:before {
	content: "\e05e";
}
.flaticon-house223:before {
	content: "\e05f";
}
.flaticon-house231:before {
	content: "\e060";
}
.flaticon-id8:before {
	content: "\e061";
}
.flaticon-interiordesign:before {
	content: "\e062";
}
.flaticon-key162:before {
	content: "\e063";
}
.flaticon-key165:before {
	content: "\e064";
}
.flaticon-key195:before {
	content: "\e065";
}
.flaticon-key196:before {
	content: "\e066";
}
.flaticon-key21:before {
	content: "\e067";
}
.flaticon-key39:before {
	content: "\e068";
}
.flaticon-key60:before {
	content: "\e069";
}
.flaticon-key83:before {
	content: "\e06a";
}
.flaticon-kitchen56:before {
	content: "\e06b";
}
.flaticon-kitchen62:before {
	content: "\e06c";
}
.flaticon-knife36:before {
	content: "\e06d";
}
.flaticon-leftarrow23:before {
	content: "\e06e";
}
.flaticon-livingroom8:before {
	content: "\e06f";
}
.flaticon-logout10:before {
	content: "\e070";
}
.flaticon-magnifying-glass21:before {
	content: "\e071";
}
.flaticon-magnifying-glass34:before {
	content: "\e072";
}
.flaticon-mailbox29:before {
	content: "\e073";
}
.flaticon-mailbox30:before {
	content: "\e074";
}
.flaticon-maleuser:before {
	content: "\e075";
}
.flaticon-medical7:before {
	content: "\e076";
}
.flaticon-mobile30:before {
	content: "\e077";
}
.flaticon-mobile55:before {
	content: "\e078";
}
.flaticon-mobile63:before {
	content: "\e079";
}
.flaticon-mobilephone1:before {
	content: "\e07a";
}
.flaticon-modern6:before {
	content: "\e07b";
}
.flaticon-money-card1:before {
	content: "\e07c";
}
.flaticon-money217:before {
	content: "\e07d";
}
.flaticon-office17:before {
	content: "\e07e";
}
.flaticon-office21:before {
	content: "\e07f";
}
.flaticon-open129:before {
	content: "\e080";
}
.flaticon-open203:before {
	content: "\e081";
}
.flaticon-open204:before {
	content: "\e082";
}
.flaticon-open9:before {
	content: "\e083";
}
.flaticon-opened33:before {
	content: "\e084";
}
.flaticon-opened34:before {
	content: "\e085";
}
.flaticon-opened36:before {
	content: "\e086";
}
.flaticon-opened37:before {
	content: "\e087";
}
.flaticon-opened38:before {
	content: "\e088";
}
.flaticon-padlock36:before {
	content: "\e089";
}
.flaticon-pen11:before {
	content: "\e08a";
}
.flaticon-pen18:before {
	content: "\e08b";
}
.flaticon-pen52:before {
	content: "\e08c";
}
.flaticon-pencil52:before {
	content: "\e08d";
}
.flaticon-pencil78:before {
	content: "\e08e";
}
.flaticon-pencil79:before {
	content: "\e08f";
}
.flaticon-pencil80:before {
	content: "\e090";
}
.flaticon-perfusion:before {
	content: "\e091";
}
.flaticon-person193:before {
	content: "\e092";
}
.flaticon-phone399:before {
	content: "\e093";
}
.flaticon-plan:before {
	content: "\e094";
}
.flaticon-plan1:before {
	content: "\e095";
}
.flaticon-plate13:before {
	content: "\e096";
}
.flaticon-power117:before {
	content: "\e097";
}
.flaticon-professor10:before {
	content: "\e098";
}
.flaticon-protected3:before {
	content: "\e099";
}
.flaticon-protected9:before {
	content: "\e09a";
}
.flaticon-rectangular23:before {
	content: "\e09b";
}
.flaticon-rest:before {
	content: "\e09c";
}
.flaticon-restaurant26:before {
	content: "\e09d";
}
.flaticon-restaurant29:before {
	content: "\e09e";
}
.flaticon-school1:before {
	content: "\e09f";
}
.flaticon-sciences:before {
	content: "\e0a0";
}
.flaticon-shelf1:before {
	content: "\e0a1";
}
.flaticon-shut-down1:before {
	content: "\e0a2";
}
.flaticon-skyscraper1:before {
	content: "\e0a3";
}
.flaticon-smartphone14:before {
	content: "\e0a4";
}
.flaticon-sofa5:before {
	content: "\e0a5";
}
.flaticon-stick-man:before {
	content: "\e0a6";
}
.flaticon-students3:before {
	content: "\e0a7";
}
.flaticon-swiping:before {
	content: "\e0a8";
}
.flaticon-tick18:before {
	content: "\e0a9";
}
.flaticon-toilet10:before {
	content: "\e0aa";
}
.flaticon-toilet13:before {
	content: "\e0ab";
}
.flaticon-touchscreen4:before {
	content: "\e0ac";
}
.flaticon-tower-block:before {
	content: "\e0ad";
}
.flaticon-tower22:before {
	content: "\e0ae";
}
.flaticon-two210:before {
	content: "\e0af";
}
.flaticon-university:before {
	content: "\e0b0";
}
.flaticon-warning45:before {
	content: "\e0b1";
}
.flaticon-window15:before {
	content: "\e0b2";
}
.flaticon-yoga:before {
	content: "\e0b3";
}
.flaticon-yoga12:before {
	content: "\e0b4";
}
