.custom-time-row {
    display: flex !important;
    display: -webkit-flex !important;
    align-items: flex-start !important;
    -webkit-align-items: flex-start !important;
    -moz-align-items: flex-start !important;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    cursor: pointer;
    border: solid 1px #ECECEC;
    height: 100%;
    margin-top: -1px;
    border-left: 0;
    border-right: 0;
    line-height: 17px;
    padding: 5px 10px;
}
.custom-time-row-first-col {
    position: relative;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    flex-basis: 120px;
    -webkit-flex-basis: 120px;
    -moz-flex-basis: 120px;
    font-size: 16px;
    color: #00C90D;
    height: 100%;
    padding-top: 5px;
}
.custom-time-row-title {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    align-content: flex-start;
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    text-align: left;
    padding: 5px 10px 2px 10px;
    font-size: 16px;
    height: 100%;
    border-left: solid 1px #ECECEC;
}
.custom-row-desc {
    font-size: 12px;
    padding-top: 2px;
    color: #A7A7A7;
}
.overflow-hidden-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fc-toolbar {
    display: flex !important;
    display: -webkit-flex !important;
    padding: 0 0 0 10px !important;
    align-items: center !important;
    -webkit-align-items: center !important;
    -moz-align-items: center !important;
    height: 30px !important;
    margin-right: -2px !important;
    background-color: #F5F5F5 !important;
    border-top: solid 1px #ECECEC !important;
}
.custom-item-divider {
    display: flex !important;
    display: -webkit-flex !important;
    padding: 0 0 0 10px !important;
    align-items: center !important;
    -webkit-align-items: center !important;
    -moz-align-items: center !important;
    height: 30px !important;
    margin-right: -2px !important;
    background-color: #F5F5F5 !important;
    border-top: solid 1px #ECECEC !important;
}
.fc-toolbar .fc-left {
    flex: 1 !important;
    -webkit-flex: 1 !important;
    -moz-flex: 1 !important;
}
.fc-toolbar .fc-left * {
    font-size: 16px !important;
    padding-left: 5px !important;
}
.fc-right button.fc-today-button {
    display: none !important;
}
.fc-toolbar .fc-right {
    margin-top: -1px;
}
.fc .button {
    border-radius: 0 !important;
    font-size: 16px !important;
    padding-top: 1px !important;
}
.fc-right button {
    border-top: solid 1px #ECECEC !important;
    border-bottom: 0 !important;
}
.fc .fc-button-group > * {
    width: 44px !important;
    border-bottom: 0 !important;
}
.fc-button {
    height: 31px !important;
}
.fc-state-default.fc-corner-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.fc-state-default.fc-corner-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
}
.fc-state-default {
    color: #333333 !important;
    background-color: #F5F5F5 !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border-top-color: #ECECEC !important;
    border-color: #E4E4E4 !important;
}
.fc-today {
    background-color: transparent !important;
    color: #FF0700 !important;
}
.fc th {
    text-align: center !important;
    border-left: solid 0px #FFFFFF !important;
    border-right: solid 0px #FFFFFF !important;
    padding: 4px !important;
    color: #6F6F6F !important;
    font-size: 12px !important;
}
.fc td {
    border-right: 0px !important;
    border-color: #ECECEC !important;
}
.fc-view-container {
    margin-top: -16px !important;
    margin-left: -1px !important;
}
.fc .fc-toolbar > * > * {
    margin-left: -1px !important;
}
.fc-day-grid-event .fc-time {
    font-weight: normal !important;
    color: #000000  !important;
}
.fc-title {
    color: #6F6F6F !important;
}
.fc-event .fc-content {
    font-size: 12px !important;
}
.fc-scroller {
    overflow-y: auto !important;
}
.fc-row .fc-widget-header {
    border-right-width: 0px !important;
    height: 30px !important;
}
.fc-ltr .fc-basic-view .fc-day-number {
    padding-right: 5px !important;
    position: relative !important;
}
.fc-today-button {
    color: #FF0700 !important;
}
.fc-ltr .fc-basic-view .fc-day-number {
    cursor: pointer !important;
}
.number-circle-bg {
    display: flex !important;
    display: -webkit-flex !important;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    text-align: center;
    position: absolute;
    right: 1px;
    padding: 3px;
    padding-bottom: 1px !important;
    color: #FFFFFF;
    font-weight: bold;
    width: 22px;
    height: 22px;
    background-color: #222222;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.today-number-circle-bg {
    display: flex !important;
    display: -webkit-flex !important;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    text-align: center;
    position: absolute;
    right: 1px;
    padding: 3px;
    padding-bottom: 1px !important;
    color: #FFFFFF;
    font-weight: bold;
    width: 22px;
    height: 22px;
    background-color: #FF0700;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
td {
    position: relative;
}
.fc-view, .fc-view > table td:first-child {
    border-left: 0;
}
.fc-row.fc-widget-header {
    height: 30px !important;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E5E5E5;
}

@media (max-width: 420px){
    .fc-event-container .fc-event {
        background-color: transparent !important;
        border-color: transparent !important;
    }
    .fc-event-container .fc-content {
        width: 5px;
        height: 5px;
        margin: auto;
        border-radius: 5px;
        background-color: #00C90D;
        right: 1px;
        top: -4px;
    }
    .fc-content-skeleton tbody tr {
        visibility: hidden;
    }
    .fc-content-skeleton tbody tr:first-child {
        visibility: visible;
    }
    .fc-event-container .fc-content span{
        display: none;
    }
    .fc-row.fc-widget-header {
        border-bottom: solid 1px #ECECEC;
    }
    .fc td {
        border-bottom-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        top: -4px;
    }
    .fc-ltr .fc-basic-view .fc-day-number {
        flex: 0 0 50%;
        text-align: center;
    }
    .today-number-circle-bg {
        position: inherit;
        margin: auto;
        right: 0;
    }
    .number-circle-bg {
        position: inherit;
        margin: auto;
        right: 0;
    }
    .fc-row.fc-week.fc-widget-content {
        min-height: 46px !important;
        height: 46px !important;
    }
    .fc-basic-view td.fc-day-number {
        padding-top: 5px;
    }
    .custom-item-divider {
        margin-top: 0px;
    }
}
@media (min-width: 421px){
    .fc td {
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
    .today-number-circle-bg {
        position: absolute;
    }
    .number-circle-bg {
        position: absolute;
    }
    .fc-basic-view td.fc-day-number {
        padding-top: 2px;
    }
    .custom-item-divider {
        margin-top: -1px;
    }
}
