.fc-toolbar {
    display: flex !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    padding: 0 0 0 10px !important;
    align-items: center !important;
    -webkit-align-items: center !important;
    -moz-align-items: center !important;
    height: 30px !important;
    margin-right: -2px !important;
    background-color: #F5F5F5 !important;
    border-top: solid 1px #ECECEC !important;
}
.fc-toolbar .fc-left {
    flex: 1 !important;
    -webkit-flex: 1 !important;
    -moz-flex: 1 !important;
}
.fc-toolbar .fc-left * {
    font-size: 16px !important;
    padding-left: 5px !important;
}
.fc-right button.fc-today-button {
    display: none !important;
}
.fc .button {
    border-radius: 0 !important;
    font-size: 16px !important;
    padding-top: 1px !important;
}
.fc-right button {
    border-top: solid 1px #ECECEC !important;
    border-bottom: 0 !important;
}
.fc .fc-button-group > * {
    width: 44px !important;
    border-bottom: 0 !important;
}
.fc-button {
    height: 31px !important;
}
.fc-state-default.fc-corner-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.fc-state-default.fc-corner-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
}
.fc-state-default {
    color: #333333 !important;
    background-color: #F5F5F5 !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border-top-color: #ECECEC !important;
    border-color: #E4E4E4 !important;
}
.fc-today {
    background-color: transparent !important;
    color: #FF0700 !important;
}
.fc th {
    text-align: center !important;
    border-left: solid 0px #FFFFFF !important;
    border-right: solid 0px #FFFFFF !important;
    padding: 4px !important;
    color: #6F6F6F !important;
    font-size: 14px !important;
}
.fc td {
    border-right: 0px !important;
    border-color: #ECECEC !important;
}
.fc-view-container {
    margin-top: -16px !important;
    margin-left: -1px !important;
}
.fc .fc-toolbar > * > * {
    margin-left: -1px !important;
}
.fc-day-grid-event .fc-time {
    font-weight: normal !important;
    color: #000000  !important;
}
.fc-title {
    color: #6F6F6F !important;
}
.fc-event .fc-content {
    font-size: 12px !important;
}
.fc-scroller {
    overflow-y: auto !important;
}
.fc-row .fc-widget-header {
    border-right-width: 0px !important;
    height: 30px !important;
}
/*.fc-icon-left-single-arrow{*/
    /*width: 0 !important;*/
    /*height: 0 !important;*/
    /*border-top: 9px solid transparent !important;*/
    /*border-bottom: 9px solid transparent !important;*/
    /*border-right: 10px solid #A7A7A7 !important;*/
/*}*/
/*.fc-icon-right-single-arrow {*/
    /*width: 0 !important;*/
    /*height: 0 !important;*/
    /*border-top: 9px solid transparent !important;*/
    /*border-bottom: 9px solid transparent !important;*/
    /*border-left: 10px solid #A7A7A7 !important;*/
/*}*/
.fc-ltr .fc-basic-view .fc-day-number {
    padding-right: 5px !important;
    position: relative !important;
}
.fc-today-button {
    color: #FF0700 !important;
}
.fc-ltr .fc-basic-view .fc-day-number {
    cursor: pointer !important;
}
.number-circle-bg {
    display: flex !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    text-align: center;
    position: absolute;
    right: 1px;
    padding: 3px;
    padding-bottom: 1px !important;
    color: #FFFFFF;
    font-weight: bold;
    width: 22px;
    height: 22px;
    background-color: #222222;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.today-number-circle-bg {
    display: flex !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    text-align: center;
    position: absolute;
    right: 1px;
    padding: 3px;
    padding-bottom: 1px !important;
    color: #FFFFFF;
    font-weight: bold;
    width: 22px;
    height: 22px;
    background-color: #FF0700;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
td {
    position: relative;
}
.fc-event-container .fc-event {
    background-color: rgba(0, 201, 13, 0.2) !important;
    border-color: rgba(0, 201, 13, 0.2) !important;
}
.fc-view, .fc-view > table td:first-child {
    border-left: 0;
}
.fc-row.fc-widget-header {
    height: 30px !important;
}