// ************** ionic *********************************
// **** your ionic variable changes can go here *********

$energized:	#FFD500;  // yellow
$calm: #BFA730;       // dark yellow
$assertive: #FF0700;  // red
$royal: #FDF7F7;      // light red
$balanced: #00C90D;   // green
$dark: #5E5E5E;       // dark grey
$stable: #C6C6C6;     // light grey
$positive: #0382BF;   // blue
$bar-dark-border: #525252;
$font-family-base: THfont, Thonburi, "Browallia New", Arial;
$font-family-light-sans-serif: THfont, Thonburi, "Browallia New", Arial;
$font-size-base: 16px;
$bar-title-font-size: 20px;
$z-index-badge: 1px;
$button-stable-border: $stable;
$button-font-size: 18px;
$button-icon-size: 32px;
$button-small-icon-size: 18px;
$base-background-color: #fff;
$popup-width: 300px;
$base-color: #222;
$tabs-height: 49px;
$tabs-icon-size: 28px;
$input-height-base: 42px;

// ******************************************************
@import "../bower_components/ionic/scss/ionic";
// ****************** ionic *****************************

// **** your variable changes can go here ***************
$dark_font_color: #000;
$stable_font_color: #A7A7A7;
$medium_font_size: 14px;
$mmedium_font_size: 15px;
$menu_bg_color: #333;
$menu_list_height: 50px;
$custom_ion_content_bg: #F5F5F5;
$border_color: #BCBEC0;
$light_border_color: #E5E5E5;
$custom_row_base_height: 65px;
$doors_custom_row_height: 76px;
$tabs_column_height: 50px;
// Your application styles go here **********************

.pointer {
  cursor: pointer;
}
a {
  @extend .pointer;
  text-decoration: none;
  color: inherit !important;
}
.overflow-hidden-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.normal-white-space {
  white-space: normal;
}
.stable-font-color { color: $stable_font_color; }
.medium-font-size { font-size: $medium_font_size; }
.bar .title {
   left: 40px;
   right: 40px;
 }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  padding: 12px 5px 10px 10px !important;
  color: $base-color;
  border: 0;
  height: 100%;
  width: 100%;
  font-size: $mmedium_font_size;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  padding: 6px 0px;
  font-size: $mmedium_font_size;
  color: $stable_font_color;
}
input::-webkit-datetime-edit, #date-time-edit {
  font-size: $mmedium_font_size;
  padding: 10px 0 !important;
}
// Background Class *************************************
.stable-bg {
  background-color: $stable !important;
}
.royal-bg {
  background-color: $royal !important;
}
.energized-bg {
  background-color: $energized !important;
}
.pink-bg {
  background-color: #FF4540 !important;
}
.balanced-bg {
  background-color: $balanced !important;
}
.orange-bg {
  background-color: #FFAB00 !important;
}
.positive-bg {
  background-color: $positive !important;
}
.violet-bg {
  background-color: #3B14AF !important;
}
.assertive-bg {
  background-color: $assertive !important;
}
// Custom ion-content bg ********************************
.custom-ion-content-bg {
  background-color: $custom_ion_content_bg !important;
}
// Edit [button-stable] text color **********************
.button.button-stable.button-outline {
  color: $stable_font_color;
}
// Button & Toggle **************************************
.button-icon-size {
  font-size: $button-icon-size;
}
.button-small .icon:before, .button-small.icon:before, .button-small.icon-left:before, .button-small.button-theme:before, .button-small.icon-right:before {
  line-height: 100%;
}
.toggle .track {
  background-color: $light_border_color;
}
.toggle .handle {
  box-shadow: none;
}
.custom-button-right-text {
  margin-right: -10px;
  margin-top: 3px;
  white-space: normal !important;
}
.custom-button-right-text .text-before-arrow-right{
  font-size: $font-size-base;
  min-width: 100px;
  padding: 0 10px;
}
.custom-button-right-text i {
  color: $bar-dark-border;
}
.search-button-div { padding-top: 2px; }
.custom-search-button {
  border: 0;
  height: $input-height-base;
  margin-top: -2px;
  border-radius: 0;
  background-color: #d8d8d8 !important;
  padding: 10px;
}
.custom-search-button i {
  font-size: 22px;
}
// item, item-divider ***********************************
.item-divider {
  height: 28px;
  font-size: 14px;
  padding-top: 4px;
  border-left: 0;
  border-right: 0;
}
.item-note {
  font-size: $font-size-base;
  color: $dark_font_color;
}
.item-desc {
  @extend .normal-white-space;
  font-size: 12px;
  color: $dark;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: transparent;
  border: 0;
}
// Reset row padding ************************************
.row, .flex {
  padding: 0px;
}
.row + .row {
  margin-top: 0;
}
// List *************************************************
.list {
  padding: 0;
  margin: 0;
}
// Card *************************************************
.card {
  margin: 8px;
  box-shadow: 0 1px 3px $light_border_color;
}
// tabs *************************************************
.footer-tabs-height {
  height: $tabs-height;
}
.footer-tab-title {
  @extend .flex-1;
  font-size: 10px;
  text-align: center;
  padding-top: 1px;
  height: 10px;
}
.footer-tab-column {
  padding-top: 5px;
  color: $light;
  height: $tabs_column_height;
}
.footer-tab-column i {
  font-size: 25px;
}
.footer-tab-icon {
  @extend .flex-1;
  height: 22px;
}
.footer-tab-active {
  color: $energized;
  border-top: solid 2px $energized;
}
.footer-tab-active i {
  color: $energized;
}
.tab-outline {
  display: block;
}
.tab-filled {
  display: none;
}
.footer-tab-active .tab-outline {
  display: none !important;
}
.footer-tab-active .tab-filled {
  display: block !important;
}
// Hidden back text (show back button only)
.back-text {
  visibility: hidden;
  width: 40px;
}
// Badge ************************************************
.badge {
  padding: 2px 4px;
}
// Position *********************************************
.relative-position {
  position: relative;
}
// Popup ************************************************
.popup-head {
  background-color: #eee;
  text-align: center;
}
.popup-title {
  font-size: 18px;
}
// Custom button group **********************************
.button-div-padding {
  padding: 0 5px;
  width: 100%;
}
.more-button {
  width: 200px !important;
  margin: auto;
  margin-top: 10px;
}
// Flex for Scale DOM ***********************************
.flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}
.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
}
.justify-content-center {
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  text-align: center;
}
.justify-content-flex-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
}
.justify-content-flex-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
}
.justify-content-space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
}
.align-items-center {
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
}
.align-items-flex-start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
}
.flex-direction-row {
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}
.align-self-center {
  align-self: auto;
  -webkit-align-self: auto;
  -moz-align-self: auto;
  -ms-align-self: auto;
}
.align-self-flex-start {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
}
.align-self-flex-end {
  align-self: flex-end;
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-align-self: flex-end;
}
.flex-1 {
  flex: 1; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1;
}
.flex-basis-30 {
  flex-basis: 30px;
  -webkit-flex-basis: 30px;
  -moz-flex-basis: 30px;
  -ms-flex-basis: 30px;
}

// Custom Row
.door-custom-row {
  @extend .flex, .justify-content-center, .align-items-center, .pointer;
  border: solid 1px $border_color;
  height: $doors_custom_row_height;
  margin-top: -1px;
  line-height: 17px;
  border-left: 0;
  border-right: 0;
}
.door-status-icon {
  position: absolute;
  top: 12px;
  left: 49px;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: solid 1px #ddd;
  background: #fff;
  font-size: 24px;
}
.custom-row {
  @extend .flex, .justify-content-center, .align-items-center, .pointer;
  border: solid 1px $border_color;
  height: $custom_row_base_height;
  margin-top: -1px;
  border-left: 0;
  border-right: 0;
}
.custom-row-icon {
  @extend .relative-position;
  flex-basis: 90px;
  -webkit-flex-basis: 90px;
  -moz-flex-basis: 90px;
  font-size: 40px;
  color: $dark;
}
.custom-row-title {
  @extend .flex-1;
  text-align: left;
  padding: 0 5px;
}
.custom-row-title div {
  @extend .overflow-hidden-text;
}
.custom-row-font-status {
  font-size: 13px;
}
.custom-row-status-icon {
  font-size: 16px;
}
.custom-row-arrow {
  flex-basis: 30px;
  -webkit-flex-basis: 30px;
  -moz-flex-basis: 30px;
  font-size: 20px;
  color: $bar-dark-border;
}
.custom-row-button {
  flex-basis: 84px;
  -webkit-flex-basis: 84px;
  -moz-flex-basis: 84px;
  margin-right: 10px;
}
.custom-row-button .button {
  padding: 0 7px;
}
.custom-row-button .button-small {
  font-size: 14px;
}
.custom-row-desc {
  font-size: 12px;
  color: $stable_font_color;
}
// Custom Main Menu in main-menu.html *******************
.menu-bar-header {
   background: #222;
   color: $light;
   border: 0;
 }
.menu-bar-header-notif-icon {
  position: fixed;
  padding-top: 3px;
  z-index: -1;
  font-size: 28px;
}
.menu-bar-header-badge-position {
  position: absolute;
  top: 0;
  right: 0;
  margin: -2px -38px 0 0;
  z-index: $z-index-badge;
}
.menu-ion-content {
  margin-right: -2px;
  background: $menu_bg_color;
}
.menu-list {
  @extend .pointer;
  background: $menu_bg_color;
  border-bottom: solid 1px $dark;
  height: $menu_list_height;
  color: #fff;
}
.menu-active {
  border-right: solid 7px $energized;
}
.menu-active-footer {
  border-right: solid 5px $energized;
}
.menu-icon-outline {
  display: block;
  color: #d7d7d7;
  text-align: center;
}
.menu-icon-filled {
  display: none;
  text-align: center;
}
.menu-active .menu-icon-outline {
  display: none !important;
}
.menu-active .menu-icon-filled {
  display: block !important;
}
.menu-bar-footer {
  padding: 0;
  background: transparent;
  border: 0;
  z-index: $z-index-menu-bar-header;
  height: $menu_list_height !important;
}
.menu-list-footer {
  background: $menu_bg_color;
  border-top: solid 1px $dark;
  height: $menu_list_height;
  color: #fff;
}
.notif-icon-outline {
  visibility: visible;
  color: #d7d7d7;
}
.notif-icon-filled {
  visibility: hidden;
}
.notif-div {
  @extend .pointer;
  text-align: center;
  height: 40px;
}
.notif-menu-active .notif-icon-outline {
  visibility: hidden !important;
 }
.notif-menu-active .notif-icon-filled {
  visibility: visible !important;
}
// Custom dashboard.html ********************************
.dashboard-row {
  padding: 3px 5px 0 5px;
}
.dashboard-card {
  margin: 0 2px 0 0;
}
.dashboard-card-title {
  font-size: 18px;
  color: $base-color;
  text-align: left;
}
.dashboard-card-desc {
  font-size: 14px;
  color: $base-color;
  text-align: left;
}
.dashboard-card-desc i {
  font-size: 14px;
}
.dashboard-card-icon {
  text-align: center;
  height: 90px;
  line-height: 60px;
  padding-top: 15px;
}
.dashboard-card-info {
  text-align: center;
  font-size: 14px;
  margin-top: -4px;
}
.dashboard-green-number {
  color: $balanced;
  font-size: 28px;
}
.dashboard-red-number {
  color: $assertive;
  font-size: 28px;
}
.dashboard-card-desc {
  font-size: 12px;
}
.dashboard-expire-number {
  font-size: 16px;
}
.dashboard-expire-row1 {
  flex: 3; -webkit-flex: 3; -moz-flex: 3;
}
.dashboard-expire-row2 {
  flex: 3; -webkit-flex: 3; -moz-flex: 3;
}
.dashboard-expire-row3 {
  flex: 2; -webkit-flex: 2; -moz-flex: 2;
}
// Custom Access Time Row ******************************
.access-time-container {
  padding: 5px;
}
.access-time-padding {
  font-size: 13px;
  padding: 10px;
}
.access-time-column {
  flex-basis: 162px;
  -webkit-flex-basis: 162px;
  -moz-flex-basis: 162px;
  -ms-flex-basis: 162px;
}
.access-time-detail-column {
  border-left: solid 1px $light_border_color;
  padding-left: 5px;
  flex-basis: 180px;
  -webkit-flex-basis: 180px;
  -moz-flex-basis: 180px;
  -ms-flex-basis: 180px;
}
.access-time-desc {
  font-size: 11px;
  color: $stable_font_color;
  margin-top: -5px;
  position: absolute;
}
.access-time-privacy-height {
  height: 38px;
}
.day-circle {
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50px;
  padding-top: 1px;
  font-size: $mmedium_font_size;
  color: $light;
  text-align: center;
  font-weight: bold;
  border: solid 1px #eee;
  background-color: #ddd;
}
.tuesday-circle-margin { margin-left: 27px; }
.wednesday-circle-margin { margin-left: 54px; }
.thursday-circle-margin { margin-left: 81px; }
.friday-circle-margin { margin-left: 108px; }
.saturday-circle-margin { margin-left: 135px; }
.sunday-circle-margin { margin-left: 162px; }
.day-circle-height {
  height: 24px;
}
// Log style *******************************************
.log-container {
  padding: 15px;
  font-size: 14px;
}
.log-row-padding {
  padding: 5px 0;
}
.log-detail {
  color: #666;
}
// Custom Input ****************************************
.input-height-and-border {
  border: solid 1px $light_border_color;
  height: $input-height-base;
}
.search-container-first {
  @extend .input-height-and-border;
  border-left: 0;
  border-right: 0;
}
.search-container {
  @extend .input-height-and-border;
  border-left: 0;
  border-right: 0;
  margin-top: -1px;
}
.search-icon-div {
  flex-basis: 28px;
  -webkit-flex-basis: 28px;
  -moz-flex-basis: 28px;
  -ms-flex-basis: 28px;
  width: 28px;
  padding: 12px 10px 10px 10px;
}
.search-icon-div i {
  font-size: 24px;
  color: $stable_font_color;
}
.search-input-div {
  @extend .input-height-and-border;
  border-left: 0;
}
.start-date-div {
  @extend .input-height-and-border;
  border-left: 0;
}
.to-div {
  flex-basis: 30px;
  -webkit-flex-basis: 30px;
  -moz-flex-basis: 30px;
  -ms-flex-basis: 30px;
  width: 30px;
  font-size: $mmedium_font_size;
}
.end-date-div {
  @extend .input-height-and-border;
  border-right: 0;
}
