<ion-modal-view>
    <ion-header-bar>
        <i class="ion-ios-close-empty modal-close-icon" ng-click="cancelAddCalendars()"></i>
        <h1 class="title">Add {{acccessPolicyType.value}} Access Time</h1>
    </ion-header-bar>

    <ion-content>

        <div class="flex justify-content-center align-items-center search-container" ng-show="false">
            <div class="search-icon-div">
                <i class="ion-ios-calendar-outline"></i>
            </div>
            <div class="flex-1 search-input-div" ng-init="searchCalendar=''">
                <input type="text" placeholder="Search Calendar Name" ng-model="searchCalendar">
            </div>
            <div class="search-button-div">
                <button class="button button-stable button-small custom-search-button">
                    <i class="ion-ios-search"></i>
                </button>
            </div>
        </div>

        <div ng-repeat="group in userCalendars" ng-hide="group.length==0">

            <div class="item item-divider edit-on-white-bg-item-divider" ng-hide="searchCalendar!=''">
                {{($index==0)? 'My Calendars':'Other Calendars'}}
            </div>

            <div class="custom-row" ng-repeat="calendarData in group" ng-init="calendarCheckbox[calendarData.calendar.id]=false" ng-click="calendarCheckbox[calendarData.calendar.id]=!(calendarCheckbox[calendarData.calendar.id])" ng-class="{'checkbox-row-bg':calendarCheckbox[calendarData.calendar.id]==true}">
                <div style="display: none">
                    <input type="checkbox" ng-model="calendarCheckbox[calendarData.calendar.id]" name="calendarData.calendar.id">
                </div>

                <div class="custom-row-icon">
                    <i class="ion-ios-calendar-outline" ng-class="{'balanced':acccessPolicyType.value=='Normal', 'energized':acccessPolicyType.value=='Holiday'}"></i>
                </div>
                <div class="custom-row-title">
                    <div>{{calendarData.calendar.name}}</div>
                </div>
                <div class="custom-row-button" ng-show="calendarCheckbox[calendarData.calendar.id]==true">
                    <i class="radio-icon ion-checkmark" style="font-size: 28px"></i>
                </div>
            </div>

        </div>

        <!--Cancel & Create Button-->
        <div class="button-bar">
            <!--<div class="button-div-padding">-->
                <!--<button class="button button-outline button-block icon-left button-stable ion-ios-close-outline" ng-click="cancelAddCalendars()">Cancel</button>-->
            <!--</div>-->
            <div class="button-div-padding" ng-hide="userCalendars.length==0">
                <button class="button button-outline button-block icon-left button-balanced ion-ios-plus-outline more-button" ng-click="addCalendarsSelected()">Add</button>
            </div>
        </div>

    </ion-content>

</ion-modal-view>