<ion-view title="Add User">
    <ion-content>
        <!--User Id or Name Search-->
        <div class="flex justify-content-center align-items-center search-container">
            <div class="search-icon-div">
                <i class="ion-ios-person-outline search-person-icon"></i>
            </div>
            <div class="flex-1 search-input-div" ng-init="searchPerson=''">
                <input type="text" placeholder="User ID or Name" ng-model="searchPerson" onkeydown="(event.keyCode == 13)? document.getElementById('searchUser').click():''">
            </div>
            <div class="search-button-div" ng-click="searchUserForAdd(searchPerson)">
                <button class="button button-stable button-small custom-search-button" ng-class="{'search-button-icon':load}" id="searchUser">
                    <i class="ion-ios-search" ng-hide="load"></i>
                    <ion-spinner class="spinner-light" icon="ripple" ng-show="load"></ion-spinner>
                </button>
            </div>
        </div>

        <div class="custom-user-row pointer-default" ng-hide="load" ng-repeat="userRes in usersRes">
            <div class="custom-row-user-id">
                {{userRes.employeeNumber}}
            </div>
            <div class="custom-row-title">
                {{userRes.firstName}} {{userRes.lastName}}
            </div>
            <div class="custom-row-button" ng-class="{'pointer': userRes.addedStatus==false}">
                <button class="button button-clear button-icon ion-ios-plus-outline button-balanced button-icon-right" ng-show="userRes.addedStatus==false" ng-click="confirmAddUser(userRes.id, userRes.employeeNumber)"></button>
                <span ng-show="userRes.addedStatus==true" class="assertive">Added</span>
            </div>
        </div>

    </ion-content>
</ion-view>