<ion-view title="{{calendarData.name}}">

    <ion-nav-buttons side="right">
        <div style="margin-top: -3px;">
            <button class="button button-clear" ng-click="createEventModal.show()">
                <i class="ion-ios-plus-empty" style="font-size: 38px; color: #222"></i>
            </button>
        </div>
    </ion-nav-buttons>

    <!--<div class="bar bar-header item item-divider flex" style="margin-top: 43px">-->
        <!--<div class="calendar-item-divider-col">-->
            <!--<div class="calendar-icon-col" style="height: 27px;">-->
                <!--<i class="ion-ios-calendar-outline" style="font-size: 24px"></i>-->
            <!--</div>-->
            <!--<div class="calendar-month-col">June 2015</div>-->
        <!--</div>-->

        <!--<div class="flex-1"></div>-->

        <!--<div class="calendar-item-divider-col">-->
            <!--<div class="calendar-icon-col">-->
                <!--<button class="button button-outline button-icon ion-android-arrow-dropleft"></button>-->
            <!--</div>-->
            <!--<div class="calendar-today-col assertive pointer" ng-click="getEventsDateSelected(transformDate(''))">Today</div>-->
            <!--<div class="calendar-icon-col">-->
                <!--<button class="button button-outline button-icon ion-android-arrow-dropright"></button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <ion-content style="margin-top: -1px">

        <!--then include calendar module to show events data-->
        <!--<div style="padding-left: 15px">Calendar Id: {{calendarEventsData[0].calendar}}</div><br>-->

        <div ui-calendar="uiConfig.calendar" ng-model="uiCalendarEvents"></div>
        <!--<div ng-repeat="event in calendarEventsData">-->
            <!--<div style="padding-left: 15px" class="balanced pointer" ng-click="getEventsDateSelected(transformDate(event.startDate))">-->
                <!--<div style="display:none">{{startDate=transformDate(event.startDate)}} {{endDate=transformDate(event.endDate)}}</div>-->
                <!--{{startDate.getDate()}} {{ month[startDate.getMonth()] }} {{startDate.getFullYear()}}-->
                <!--({{startDate.getHours()}}:{{(startDate.getMinutes()==0)? '00':startDate.getMinutes()}} --->
                <!--{{endDate.getHours()}}:{{(endDate.getMinutes()==0)? '00':endDate.getMinutes()}})-->
            <!--</div>-->

            <!--<div style="padding-left: 15px">{{event.name}}</div>-->
            <!--<div style="padding-left: 15px; font-size: 12px" class="dark">{{event.description}}</div>-->
            <!--<div style="padding-left: 15px; font-size: 12px" ng-if="event.rRule">{{event.rRule}}</div>-->
            <!--<br>-->
        <!--</div>-->

        <!--show events on date selected-->
        <div class="item item-divider date-selected-item-divider">
            {{weekDay[dateSelected.getDay()]}}, {{dateSelected.getDate()}} {{ month[dateSelected.getMonth(dateSelected)] }} {{dateSelected.getFullYear()}}
        </div>
        <div ng-if="calendarEventsDateSelected2.length == 0" style="text-align: center; margin-top: 15px" class="stable">No event</div>

        <div class="custom-time-row" ng-repeat="event in calendarEventsDateSelected2" ng-init="startDate2=transformDate(event.startDate);endDate2=transformDate(event.endDate)">
            <div class="custom-time-row-first-col">
                {{startDate2.getUTCHours()}}:{{(startDate2.getUTCMinutes()==0)? '00':startDate2.getUTCMinutes()}} - {{endDate2.getUTCHours()}}:{{(endDate2.getUTCMinutes()==0)? '00':endDate2.getUTCMinutes()}}
            </div>
            <div class="custom-time-row-title">
                <div class="overflow-hidden-text">{{event.name}}</div>
                <div class="custom-row-desc overflow-hidden-text">{{event.description}}</div>
            </div>
        </div>

    </ion-content>

    <div class="bar bar-footer custom-bar-footer justify-content-flex-end">
        <span class="pointer" ng-click="calendarSettingsModal.show()">Calendar Settings</span>
    </div>

</ion-view>