<ion-view title="{{calendarData.name}}">

    <ion-content>
        <div class="item item-divider flex">

            <div class="calendar-item-divider-col">
                <div class="calendar-icon-col" style="height: 27px;">
                    <i class="ion-ios-calendar-outline" style="font-size: 24px"></i>
                </div>
                <div class="calendar-month-col">June 2015</div>
            </div>

            <div class="flex-1"></div>

            <div class="calendar-item-divider-col">
                <div class="calendar-icon-col">
                    <button class="button button-outline button-icon ion-android-arrow-dropleft"></button>
                </div>
                <div class="calendar-today-col assertive">Today</div>
                <div class="calendar-icon-col">
                    <button class="button button-outline button-icon ion-android-arrow-dropright"></button>
                </div>
            </div>

        </div>


    </ion-content>

    <div class="bar bar-footer custom-bar-footer justify-content-flex-end">
        <span>Calendar Settings</span>
    </div>

</ion-view>