<ion-modal-view>

    <ion-header-bar>
        <i class="ion-ios-close-empty modal-close-icon" ng-click="calendarEventsModal.hide()"></i>
        <h1 class="title" ng-show="showEventsDataName.value=='myAccessTime'">My Access Time in {{doorData.name}}</h1>
        <h1 class="title" ng-show="showEventsDataName.value=='autoRelease'">Auto Release Time</h1>
        <h1 class="title" ng-show="showEventsDataName.value=='passcodeUnlock'">{{passcodeUnlockSelected.name}}</h1>
        <h1 class="title" ng-show="showEventsDataName.value=='userAccess'">User Access Time</h1>
    </ion-header-bar>

    <ion-content style="margin-top: -2px">

        <div ui-calendar="uiConfig.calendar" calendar="calendarsEventsSelected" ng-model="uiCalendarEvents"></div>

        <!--show events on date selected-->
        <div class="item item-divider date-selected-item-divider">
            {{dateSelected.format('ddd, D MMM YYYY')}}
        </div>
        <div ng-if="selectedDateEvents.length == 0" style="text-align: center; margin-top: 15px" class="stable">No Events</div>

        <div class="custom-time-row" ng-repeat="event in selectedDateEvents"
             ng-click="openEditEvent(event)">
            <div class="custom-time-row-first-col">
                {{transformDate(event.startDate)}} - {{transformDate(event.endDate)}}
            </div>
            <div class="custom-time-row-title">
                <div class="overflow-hidden-text">{{event.name}}</div>
                <div class="custom-row-desc overflow-hidden-text">{{event.description}}</div>
            </div>
        </div>

        <div style="padding-top: 60px"></div>
    </ion-content>

    <div class="bar bar-footer bar-light custom-bar-footer flex">
        <!--Calendar Today Button-->
        <div class="flex-1">
            <button class="button button-clear button-assertive" style="font-size: 14px; padding: 0 15px" id="today-button" ng-click="todayClick()">
                Today
            </button>
        </div>
    </div>


</ion-modal-view>