<ion-view title="{{calendarData.name}}">

    <div style="display: none" ng-if="(runTodayActiveFirst.value)">{{ todayActive() }}</div>

    <ion-nav-buttons side="right">
        <div style="margin-top: -3px;">
            <button class="button button-clear" ng-click="openCreateEvent()">
                <i class="ion-ios-plus-empty" style="font-size: 38px; color: #222"></i>
            </button>
        </div>
    </ion-nav-buttons>

    <ion-content style="margin-top: -1px">

        <div ui-calendar="uiConfig.calendar" ng-model="uiCalendarEvents"></div>

        <!--show events on date selected-->
        <div class="item item-divider date-selected-item-divider">
            {{weekDay[dateSelected.getDay()]}}, {{dateSelected.getDate()}} {{ month[dateSelected.getMonth(dateSelected)] }} {{dateSelected.getFullYear()}}
        </div>
        <div ng-if="calendarEventsDateSelected2.length == 0" style="text-align: center; margin-top: 15px" class="stable">No Events</div>

        <div class="custom-time-row" ng-repeat="event in calendarEventsDateSelected2" ng-init="startDate2=transformDate(event.startDate);endDate2=transformDate(event.endDate)"
                ng-click="openEditEvent(event)">
            <div class="custom-time-row-first-col">
                {{startDate2.getHours()}}:{{(startDate2.getMinutes()==0)? '00':startDate2.getMinutes()}} - {{endDate2.getHours()}}:{{(endDate2.getMinutes()==0)? '00':endDate2.getMinutes()}}
            </div>
            <div class="custom-time-row-title">
                <div class="overflow-hidden-text">{{event.name}}</div>
                <div class="custom-row-desc overflow-hidden-text">{{event.description}}</div>
            </div>
        </div>

        <div style="padding-top: 60px"></div>
    </ion-content>

    <div class="bar bar-footer bar-light custom-bar-footer flex">
        <!--Calendar Today Button-->
        <div class="flex-1">
            <button class="button button-clear button-assertive" style="font-size: 14px; padding: 0 15px" id="today-button" ng-click="todayActive()">
                Today
            </button>
        </div>
        <div style="flex-basis: 148px; height: 100%" ng-show="calendarAccessRole=='owner'">
            <button class="button button-clear button-dark" style="font-size: 14px; height: 100%; width: 148px; text-align: left" ui-sref="mainMenu.calendars.calendar.calendarSettings">
                <i class="ion-ios-gear-outline" style="font-size: 20px"></i>&nbsp;
                <span style="position: absolute; top: -1px; right: 0; width: 120px">Calendar Settings</span>
            </button>
        </div>
    </div>

</ion-view>