<ion-view view-title="Change Passcode">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <span class="input-label" style="text-align: right;">New Passcode</span>
                <input type="number">
            </label>
        </div>

        <!--Cancel & Done Button-->
        <div class="button-bar">
            <div class="button-div-padding">
                <button class="button-theme button-stable ion-ios-close-outline">Cancel</button>
            </div>
            <div class="button-div-padding">
                <button class="button-theme button-balanced ion-ios-checkmark-outline">Done</button>
            </div>
        </div>

    </ion-content>
</ion-view>