<ion-view view-title="Change Passcode">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <span class="input-label" style="text-align: right;">New Passcode</span>
                <input type="number">
            </label>
        </div>

        <div class="list list-inset flex flex-direction-row">
            <div class="flex-1 button-div-padding">
                <button class="button button-outline button-block button-stable icon-left ion-ios-close-outline">Cancel</button>
            </div>
            <div class="flex-1 button-div-padding">
                <button class="button button-outline button-block button-balanced icon-left ion-ios-checkmark-outline">Done</button>
            </div>
        </div>

    </ion-content>
</ion-view>