<ion-modal-view>
    <ion-header-bar>
        <i class="ion-ios-close-empty modal-close-icon" ng-click="createEventModal.hide()"></i>
        <h1 class="title">Create Event</h1>
    </ion-header-bar>

    <ion-content class="custom-ion-content-bg">

        <!--Title---------------------------------->
        <div class="list">
            <div class="item item-input small-item-input">
                <span>Title</span>
                <input type="text" ng-model="createEventData.name">
            </div>
        </div>
        <!--Description-->
        <div class="list" style="padding-bottom: 15px">
            <div class="item item-input small-item-input">
                <span>Description</span>
                <input type="text" ng-model="createEventData.description">
            </div>
        </div>

        <div class="item item-divider edit-button-item-divider">Date & Time</div>
        <!--Start Date-->
        <div class="list">
            <label class="item item-input small-item-input">
                <span>Start Date</span>
                <input type="date" ng-model="createEventData.startDate" class="small-item-input-datetime">
            </label>
        </div>
        <!--End Time-->
        <div class="list flex">
            <label class="item item-input small-item-input flex-1">
                <span>Start Time</span>
                <input type="time" ng-model="createEventData.startDate" class="small-item-input-datetime">
            </label>
            <label class="item item-input small-item-input flex-1">
                <span>End Time</span>
                <input type="time" ng-model="createEventData.endDate" class="small-item-input-datetime">
            </label>
        </div>
        <!--Repeat-->
        <div class="list">
            <div class="item item-toggle small-item-toggle">
                Repeat
                <label class="toggle toggle-energized">
                    <input type="checkbox" ng-model="repeat.status" ng-change="onOffRepeat()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <!--Frequency-->
        <div class="list" ng-show="repeat.status">
            <div class="item item-input small-item-input sub-item-input">
                <span>Frequency</span>
                <span class="flex align-items-center sub-input-padding" style="width: 180px">
                    <select class="custom-row-font-size" ng-model="createEventData.rRule.frequency" ng-change="calculateRrule()">
                        <option value="DAILY" ng-selected="createEventData.rRule.frequency=='DAILY'">Daily</option>
                        <option value="WEEKLY" ng-selected="createEventData.rRule.frequency=='WEEKLY'">Weekly</option>
                        <option value="MONTHLY" ng-selected="createEventData.rRule.frequency=='MONTHLY'">Monthly</option>
                        <option value="YEARLY" ng-selected="createEventData.rRule.frequency=='YEARLY'">Yearly</option>
                    </select>
                </span>
            </div>
        </div>

        <!--Daily----------------------------------->
        <div ng-show="(repeat.status)&&(createEventData.rRule.frequency=='DAILY')">
            <div class="list">
                <div class="item item-input small-item-input sub-item-input del-border-sub-item">
                    <span>Every</span>
                    <span class="flex align-items-center">
                        <div class="sub-item-input-second-col"><input type="number" ng-model="createEventData.rRule.interval" class="sub-item-text-input" min="1" ng-change="calculateRrule()"></div>
                        <div class="sub-item-unit">{{(createEventData.rRule.interval==1)? 'day':'days'}}</div>
                    </span>
                </div>
            </div>
        </div>

        <!--Weekly---------------------------------->
        <div ng-show="(repeat.status)&&(createEventData.rRule.frequency=='WEEKLY')">
            <div class="list">
                <div class="item item-input small-item-input sub-item-input del-border-sub-item">
                    <span>Every</span>
                    <span class="flex align-items-center">
                        <div class="sub-item-input-second-col"><input type="number" ng-model="createEventData.rRule.interval" class="sub-item-text-input"></div>
                        <div class="sub-item-unit">{{(createEventData.rRule.interval==1)? 'week':'weeks'}} on:</div>
                    </span>
                </div>
            </div>
            <div class="list" style="margin-top: -4px">
                <div class="item item-input small-item-input sub-item-input del-border-sub-item">
                    <span>&nbsp;</span>
                    <span class="sub-input-padding" style="margin-left: 10px">
                        <div class="button-bar custom-event-button-bar">
                            <button class="button" ng-class="{'energized-bg': eventWeekDay['MO']}" ng-click="toggleWeekDaySelect('MO');calculateRrule()">M</button>
                            <button class="button" ng-class="{'energized-bg': eventWeekDay['TU']}" ng-click="toggleWeekDaySelect('TU');calculateRrule()">T</button>
                            <button class="button" ng-class="{'energized-bg': eventWeekDay['WE']}" ng-click="toggleWeekDaySelect('WE');calculateRrule()">W</button>
                            <button class="button" ng-class="{'energized-bg': eventWeekDay['TH']}" ng-click="toggleWeekDaySelect('TH');calculateRrule()">Th</button>
                            <button class="button" ng-class="{'energized-bg': eventWeekDay['FR']}" ng-click="toggleWeekDaySelect('FR');calculateRrule()">F</button>
                            <button class="button" ng-class="{'energized-bg': eventWeekDay['SA']}" ng-click="toggleWeekDaySelect('SA');calculateRrule()">Sa</button>
                            <button class="button" ng-class="{'energized-bg': eventWeekDay['SU']}" ng-click="toggleWeekDaySelect('SU');calculateRrule()">S</button>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <!--Monthly---------------------------------->
        <div ng-show="(repeat.status)&&(createEventData.rRule.frequency=='MONTHLY')">
            <div class="list">
                <div class="item item-input small-item-input sub-item-input del-border-sub-item">
                    <span>Every</span>
                    <span class="flex align-items-center">
                        <div class="sub-item-input-second-col"><input type="number" ng-model="createEventData.rRule.interval" class="sub-item-text-input"></div>
                        <div class="sub-item-unit">{{(createEventData.rRule.interval==1)? 'month':'months'}}</div>
                    </span>
                </div>
            </div>
            <div class="list" style="margin-top: -7px">
                <div class="item item-input month-item-input sub-item-input del-border-sub-item">
                    <span class="flex align-items-center"><div style="display: none">{{(repeat.repeatBy=='each')? eachDisabled=false:eachDisabled=true}}</div>
                        <div class="custom-circle-radio-first-col">
                            <input type="radio" ng-model="repeat.repeatBy" value="each" style="display: none">
                            <button class="button button-clear button-energized button-icon ion-ios-circle-filled custom-circle-radio-button"
                                    ng-show="repeat.repeatBy=='each'"
                                    ng-class="{'fade-in':notSelectEach.value==false, 'opacity-0':notSelectEach.value==true,'fade-out':notSelectEach.value==true, 'opacity-1':notSelectEach.value==false}">
                            </button>
                            <button class="button button-clear button-energized button-icon ion-ios-circle-outline custom-circle-radio-button"
                                    ng-hide="repeat.repeatBy=='each'"
                                    ng-click="repeat.repeatBy='each';notSelectEach.value=false;eachDisabled=false;notSelectOnThe.value=true;"
                                    ng-class="{'fade-in':notSelectEach.value==true, 'opacity-0':notSelectEach.value==false,'fade-out':notSelectEach.value==false, 'opacity-1':notSelectEach.value==true}">
                            </button>
                        </div>
                        <div class="custom-circle-text-first-col">Each</div>
                    </span>
                    <span class="sub-input-padding">
                        <div class="button-bar custom-event-button-bar">
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[0]}" ng-click="toggleMonthDaySelect(0)" ng-disabled="eachDisabled">1</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[1]}" ng-click="toggleMonthDaySelect(1)" ng-disabled="eachDisabled">2</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[2]}" ng-click="toggleMonthDaySelect(2)" ng-disabled="eachDisabled">3</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[3]}" ng-click="toggleMonthDaySelect(3)" ng-disabled="eachDisabled">4</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[4]}" ng-click="toggleMonthDaySelect(4)" ng-disabled="eachDisabled">5</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[5]}" ng-click="toggleMonthDaySelect(5)" ng-disabled="eachDisabled">6</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[6]}" ng-click="toggleMonthDaySelect(6)" ng-disabled="eachDisabled">7</button>
                        </div>
                        <div class="button-bar custom-event-button-bar" style="margin-top: -1px">
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[7]}" ng-click="toggleMonthDaySelect(7)" ng-disabled="eachDisabled">8</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[8]}" ng-click="toggleMonthDaySelect(8)" ng-disabled="eachDisabled">9</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[9]}" ng-click="toggleMonthDaySelect(9)" ng-disabled="eachDisabled">10</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[10]}" ng-click="toggleMonthDaySelect(10)" ng-disabled="eachDisabled">11</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[11]}" ng-click="toggleMonthDaySelect(11)" ng-disabled="eachDisabled">12</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[12]}" ng-click="toggleMonthDaySelect(12)" ng-disabled="eachDisabled">13</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[13]}" ng-click="toggleMonthDaySelect(13)" ng-disabled="eachDisabled">14</button>
                        </div>
                        <div class="button-bar custom-event-button-bar" style="margin-top: -1px">
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[14]}" ng-click="toggleMonthDaySelect(14)" ng-disabled="eachDisabled">15</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[15]}" ng-click="toggleMonthDaySelect(15)" ng-disabled="eachDisabled">16</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[16]}" ng-click="toggleMonthDaySelect(16)" ng-disabled="eachDisabled">17</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[17]}" ng-click="toggleMonthDaySelect(17)" ng-disabled="eachDisabled">18</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[18]}" ng-click="toggleMonthDaySelect(18)" ng-disabled="eachDisabled">19</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[19]}" ng-click="toggleMonthDaySelect(19)" ng-disabled="eachDisabled">20</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[20]}" ng-click="toggleMonthDaySelect(20)" ng-disabled="eachDisabled">21</button>
                        </div>
                        <div class="button-bar custom-event-button-bar" style="margin-top: -1px">
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[21]}" ng-click="toggleMonthDaySelect(21)" ng-disabled="eachDisabled">22</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[22]}" ng-click="toggleMonthDaySelect(22)" ng-disabled="eachDisabled">23</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[23]}" ng-click="toggleMonthDaySelect(23)" ng-disabled="eachDisabled">24</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[24]}" ng-click="toggleMonthDaySelect(24)" ng-disabled="eachDisabled">25</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[25]}" ng-click="toggleMonthDaySelect(25)" ng-disabled="eachDisabled">26</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[26]}" ng-click="toggleMonthDaySelect(26)" ng-disabled="eachDisabled">27</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[27]}" ng-click="toggleMonthDaySelect(27)" ng-disabled="eachDisabled">28</button>
                        </div>
                        <div class="button-bar custom-event-button-bar" style="margin-top: -1px">
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[28]}" ng-click="toggleMonthDaySelect(28)" ng-disabled="eachDisabled">29</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[29]}" ng-click="toggleMonthDaySelect(29)" ng-disabled="eachDisabled">30</button>
                            <button class="button" ng-class="{'energized-bg': eventMonthDay[30]}" ng-click="toggleMonthDaySelect(30)" ng-disabled="eachDisabled" style="min-width: 31px">31</button>
                        </div>
                    </span>
                </div>
            </div>
            <div class="list" style="margin-top: -7px">
                <div class="item item-input small-item-input sub-item-input del-border-sub-item">

                    <div style="display: none">{{(repeat.repeatBy=='on')? onTheDisabled=false:onTheDisabled=true}}</div>

                    <span class="flex align-items-center">
                        <div class="custom-circle-radio-first-col">
                            <input type="radio" ng-model="repeat.repeatBy" value="onThe" style="display: none">
                            <button class="button button-clear button-energized button-icon ion-ios-circle-filled custom-circle-radio-button"
                                    ng-show="repeat.repeatBy=='on'"
                                    ng-class="{'fade-in':notSelectOnThe.value==false, 'opacity-0':notSelectOnThe.value==true,'fade-out':notSelectOnThe.value==true, 'opacity-1':notSelectOnThe.value==false}">
                            </button>
                            <button class="button button-clear button-energized button-icon ion-ios-circle-outline custom-circle-radio-button"
                                    ng-hide="repeat.repeatBy=='on'"
                                    ng-click="repeat.repeatBy='on';notSelectOnThe.value=false;onTheDisabled=false;notSelectEach.value=true;"
                                    ng-class="{'fade-in':notSelectOnThe.value==true, 'opacity-0':notSelectOnThe.value==false,'fade-out':notSelectOnThe.value==false, 'opacity-1':notSelectOnThe.value==true}">
                            </button>
                        </div>
                        <div class="custom-circle-text-first-col">On the</div>
                    </span>

                    <span class="flex align-items-center sub-input-padding sub-input-text-with-unit">
                            <div style="width: 150px; padding-right: 10px">
                                <select class="custom-row-font-size" ng-model="repeat.onThe.sequent" ng-disabled="onTheDisabled">
                                    <option value="first" ng-selected="repeat.onThe.sequent=='first'">first</option>
                                    <option value="second" ng-selected="repeat.onThe.sequent=='second'">second</option>
                                    <option value="third" ng-selected="repeat.onThe.sequent=='third'">third</option>
                                    <option value="fourth" ng-selected="repeat.onThe.sequent=='fourth'">fourth</option>
                                    <option value="fifth" ng-selected="repeat.onThe.sequent=='fifth'">fifth</option>
                                    <option value="last" ng-selected="repeat.onThe.sequent=='last'">last</option>
                                </select>
                            </div>
                        <div style="width: 180px">
                            <select class="custom-row-font-size" ng-model="repeat.onThe.day" ng-disabled="onTheDisabled">
                                <option value="day" ng-selected="repeat.onThe.day=='day'">day</option>
                                <option value="weekday" ng-selected="repeat.onThe.day=='weekday'">weekday</option>
                                <option value="weekend" ng-selected="repeat.onThe.day=='weekend'">weekend</option>
                                <option value="monday" ng-selected="repeat.onThe.day=='monday'">Monday</option>
                                <option value="tuesday" ng-selected="repeat.onThe.day=='tuesday'">Tuesday</option>
                                <option value="thursday" ng-selected="repeat.onThe.day=='wednesday'">Wednesday</option>
                                <option value="thursday" ng-selected="repeat.onThe.day=='thursday'">Thursday</option>
                                <option value="friday" ng-selected="repeat.onThe.day=='friday'">Friday</option>
                                <option value="saturday" ng-selected="repeat.onThe.day=='saturday'">Saturday</option>
                                <option value="sunday" ng-selected="repeat.onThe.day=='sunday'">Sunday</option>
                            </select>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <!--Yearly---------------------------------->
        <div ng-show="(repeat.status)&&(createEventData.rRule.frequency=='YEARLY')">
            <div class="list">
                <div class="item item-input small-item-input sub-item-input del-border-sub-item">
                    <span>Every</span>
                    <span class="flex align-items-center">
                        <div class="sub-item-input-second-col"><input type="number" ng-model="createEventData.rRule.interval" class="sub-item-text-input"></div>
                        <div class="sub-item-unit">{{(createEventData.rRule.interval==1)? 'year':'years'}} in:</div>
                    </span>
                </div>
            </div>
            <div class="list" style="margin-top: -7px">
                <div class="item item-input year-item-input sub-item-input del-border-sub-item">
                    <span>&nbsp;</span>
                    <span class="sub-input-padding">
                        <div class="button-bar custom-year-button-bar">
                            <button class="button" ng-class="{'energized-bg': eventMonth[0]}" ng-click="toggleMonthSelect(0)">Jan</button>
                            <button class="button" ng-class="{'energized-bg': eventMonth[1]}" ng-click="toggleMonthSelect(1)">Feb</button>
                            <button class="button" ng-class="{'energized-bg': eventMonth[2]}" ng-click="toggleMonthSelect(2)">Mar</button>
                            <button class="button" ng-class="{'energized-bg': eventMonth[3]}" ng-click="toggleMonthSelect(3)">Apr</button>
                        </div>
                        <div class="button-bar custom-year-button-bar" style="margin-top: -1px">
                            <button class="button" ng-class="{'energized-bg': eventMonth[4]}" ng-click="toggleMonthSelect(4)">May</button>
                            <button class="button" ng-class="{'energized-bg': eventMonth[5]}" ng-click="toggleMonthSelect(5)">Jun</button>
                            <button class="button" ng-class="{'energized-bg': eventMonth[6]}" ng-click="toggleMonthSelect(6)">Jul</button>
                            <button class="button" ng-class="{'energized-bg': eventMonth[7]}" ng-click="toggleMonthSelect(7)">Aug</button>
                        </div>
                        <div class="button-bar custom-year-button-bar" style="margin-top: -1px">
                            <button class="button" ng-class="{'energized-bg': eventMonth[8]}" ng-click="toggleMonthSelect(8)">Sep</button>
                            <button class="button" ng-class="{'energized-bg': eventMonth[9]}" ng-click="toggleMonthSelect(9)">Oct</button>
                            <button class="button" ng-class="{'energized-bg': eventMonth[10]}" ng-click="toggleMonthSelect(10)">Nov</button>
                            <button class="button" ng-class="{'energized-bg': eventMonth[11]}" ng-click="toggleMonthSelect(11)">Dec</button>
                        </div>
                    </span>
                </div>
            </div>
            <div class="list" style="margin-top: -7px">
                <div class="item item-input small-item-input sub-item-input del-border-sub-item">

                    <span class="flex align-items-center">
                        <div class="custom-circle-radio-first-col">
                            <label class="checkbox checkbox-energized custom-event-checkbox">
                                <input type="checkbox" ng-model="repeat.onThe.checked">
                            </label>
                        </div>
                        <div class="custom-circle-text-first-col">On the</div>
                    </span>

                    <span class="flex align-items-center sub-input-padding sub-input-text-with-unit">
                        <div style="width: 150px; padding-right: 10px">
                            <select class="custom-row-font-size" ng-model="repeat.onThe.sequent" ng-disabled="!(repeat.onThe.checked)">
                                <option value="first" ng-selected="repeat.onThe.sequent=='first'">first</option>
                                <option value="second" ng-selected="repeat.onThe.sequent=='second'">second</option>
                                <option value="third" ng-selected="repeat.onThe.sequent=='third'">third</option>
                                <option value="fourth" ng-selected="repeat.onThe.sequent=='fourth'">fourth</option>
                                <option value="fifth" ng-selected="repeat.onThe.sequent=='fifth'">fifth</option>
                                <option value="last" ng-selected="repeat.onThe.sequent=='last'">last</option>
                            </select>
                        </div>
                        <div style="width: 180px">
                            <select class="custom-row-font-size" ng-model="repeat.onThe.day" style="width: 110px" ng-disabled="!(repeat.onThe.checked)">
                                <option value="day" ng-selected="repeat.onThe.day=='day'">day</option>
                                <option value="weekday" ng-selected="repeat.onThe.day=='weekday'">weekday</option>
                                <option value="weekend" ng-selected="repeat.onThe.day=='weekend'">weekend</option>
                                <option value="monday" ng-selected="repeat.onThe.day=='monday'">Monday</option>
                                <option value="tuesday" ng-selected="repeat.onThe.day=='tuesday'">Tuesday</option>
                                <option value="thursday" ng-selected="repeat.onThe.day=='wednesday'">Wednesday</option>
                                <option value="thursday" ng-selected="repeat.onThe.day=='thursday'">Thursday</option>
                                <option value="friday" ng-selected="repeat.onThe.day=='friday'">Friday</option>
                                <option value="saturday" ng-selected="repeat.onThe.day=='saturday'">Saturday</option>
                                <option value="sunday" ng-selected="repeat.onThe.day=='sunday'">Sunday</option>
                            </select>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <!--End Repeat------------------------------>
        <div ng-show="repeat.status" ng-init="repeat.endRepeat='never'">
            <!--Never-->
            <div class="list">
                <div class="item item-input small-item-input sub-item-input">
                    <span>End Repeat</span>
                    <span class="flex align-items-center sub-input-padding end-repeat-second-col">
                        <div class="custom-circle-radio-row">
                            <input type="radio" ng-model="repeat.endRepeat" value="never" style="display: none">
                            <button class="button button-clear button-energized button-icon ion-ios-circle-filled custom-circle-radio-button"
                                    ng-show="repeat.endRepeat=='never'"
                                    ng-class="{'fade-in':notSelectNever.value==false, 'opacity-0':notSelectNever.value==true,'fade-out':notSelectNever.value==true, 'opacity-1':notSelectNever.value==false}">
                            </button>
                            <button class="button button-clear button-energized button-icon ion-ios-circle-outline custom-circle-radio-button"
                                    ng-hide="repeat.endRepeat=='never'"
                                    ng-click="repeat.endRepeat='never';notSelectNever.value=false;notSelectAfter.value=true;notSelectOnDate.value=true;calculateRrule();"
                                    ng-class="{'fade-in':notSelectNever.value==true, 'opacity-0':notSelectNever.value==false,'fade-out':notSelectNever.value==false, 'opacity-1':notSelectNever.value==true}">
                            </button>
                        </div>
                        <div class="dark-font-color flex-1">Never</div>
                    </span>

                </div>
            </div>
            <!--After-->
            <div class="list">
                <div class="item item-input small-item-input sub-item-input del-border-sub-item">
                    <span>&nbsp;</span><div style="display: none">{{(repeat.endRepeat=='after')? afterDisabled=false:afterDisabled=true}}</div>
                    <span class="flex align-items-center sub-input-padding end-repeat-second-col">
                        <div class="custom-circle-radio-row">
                            <input type="radio" ng-model="repeat.endRepeat" value="after" style="display: none">
                            <button class="button button-clear button-energized button-icon ion-ios-circle-filled custom-circle-radio-button"
                                    ng-show="repeat.endRepeat=='after'"
                                    ng-class="{'fade-in':notSelectAfter.value==false, 'opacity-0':notSelectAfter.value==true,'fade-out':notSelectAfter.value==true, 'opacity-1':notSelectAfter.value==false}">
                            </button>
                            <button class="button button-clear button-energized button-icon ion-ios-circle-outline custom-circle-radio-button"
                                    ng-hide="repeat.endRepeat=='after'"
                                    ng-click="repeat.endRepeat='after';notSelectAfter.value=false;afterDisabled=false;notSelectNever.value=true;notSelectOnDate.value=true;"
                                    ng-class="{'fade-in':notSelectAfter.value==true, 'opacity-0':notSelectAfter.value==false,'fade-out':notSelectAfter.value==false, 'opacity-1':notSelectAfter.value==true}">
                            </button>
                        </div>
                        <div class="dark-font-color flex-1 flex align-items-center">
                            <div style="min-width: 30px">After</div>
                            <div style="min-width: 80px; padding-right: 20px">
                                <input type="number" ng-model="createEventData.rRule.count" class="sub-item-text-input" min="1" ng-disabled="afterDisabled" ng-change="calculateRrule()">
                            </div>
                            <div style="min-width: 50px" class="sub-item-unit">{{(createEventData.rRule.count<=1)? 'time':'times'}}</div>
                        </div>
                    </span>

                </div>
            </div>
            <!--On Date-->
            <div class="list">
                <div class="item item-input small-item-input sub-item-input del-border-sub-item">
                    <span>&nbsp;</span><div style="display: none">{{(repeat.endRepeat=='date')? onDateDisabled=false:onDateDisabled=true}}</div>
                    <span class="flex align-items-center sub-input-padding end-repeat-second-col">
                        <div class="custom-circle-radio-row">
                            <input type="radio" ng-model="repeat.endRepeat" value="date" style="display: none">
                            <button class="button button-clear button-energized button-icon ion-ios-circle-filled custom-circle-radio-button"
                                    ng-show="repeat.endRepeat=='date'"
                                    ng-class="{'fade-in':notSelectOnDate.value==false, 'opacity-0':notSelectOnDate.value==true,'fade-out':notSelectOnDate.value==true, 'opacity-1':notSelectOnDate.value==false}">
                            </button>
                            <button class="button button-clear button-energized button-icon ion-ios-circle-outline custom-circle-radio-button"
                                    ng-hide="repeat.endRepeat=='date'"
                                    ng-click="repeat.endRepeat='date';notSelectOnDate.value=false;onDateDisabled=false;notSelectAfter.value=true;notSelectNever.value=true;"
                                    ng-class="{'fade-in':notSelectOnDate.value==true, 'opacity-0':notSelectOnDate.value==false,'fade-out':notSelectOnDate.value==false, 'opacity-1':notSelectOnDate.value==true}">
                            </button>
                        </div>
                        <div class="dark-font-color flex-1 flex align-items-center">
                            <div style="min-width: 70px">On Date</div>
                            <div style="min-width: 128px">
                                <label><input type="date" ng-model="createEventData.rRule.until" class="sub-item-date-input" ng-disabled="onDateDisabled" ng-change="calculateRrule()"></label>
                            </div>
                        </div>
                    </span>

                </div>
            </div>
        </div>

        <!--Summary--------------------------------->
        <div class="list" ng-show="repeat.status">
            <div class="flex align-items-flex-start" style="border: 0; background: transparent; padding-top: 15px">
                <span style="padding-left: 15px; min-width: 98px">Summary</span>
                <span style="padding-left: 15px; padding-right: 5px; color: #333; white-space: pre-line; line-height: 20px">{{ createDataRule.toText() }}</span>
            </div>
        </div>

        <!--Cancel & Done Button-->
        <div class="button-bar" style="margin-top: 10px">
            <div class="button-div-padding">
                <button class="button button-outline button-block icon-left button-balanced ion-ios-checkmark-outline more-button" ng-click="saveEvent()">Create</button>
            </div>
        </div>

    </ion-content>

</ion-modal-view>