<ion-view view-title="Dashboard">
    <ion-content style="padding-top: 4px;" class="custom-ion-content-bg">

        <div class="flex dashboard-row">
            <div class="flex dashboard-row-group-2col">
                <div class="dashboard-col-padding">
                    <!--Show doors number user can access in first building only-->
                    <div class="card dashboard-card pointer" ui-sref="mainMenu.doors">
                        <div class="item card-item-overflow">
                            <div class="dashboard-card-title">Doors</div>
                            <div class="dashboard-card-desc">I can access</div>
                            <div class="dashboard-card-icon"><i class="flaticon-opened37" style="font-size: 50px"></i></div>
                            <div class="dashboard-card-info">
                                <span class="dashboard-green-number">{{doorsNumber}}</span>
                                <span ng-show="doorsNumber==0">None</span>
                                <span ng-show="doorsNumber==1">door</span>
                                <span ng-show="doorsNumber>1">doors</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-col-padding">
                    <div class="card dashboard-card pointer" ui-sref="mainMenu.notifications">
                        <div class="item card-item-overflow">
                            <div class="dashboard-card-title">Unread msgs</div>
                            <div class="dashboard-card-desc">my notifications</div>
                            <div class="dashboard-card-icon"><i class="ion-ios-bell-outline" style="font-size: 62px"></i></div>
                            <div class="dashboard-card-info"><span class="dashboard-red-number" ng-hide="unreadMsgs==0">{{unreadMsgs}}</span>
                                <span ng-show="unreadMsgs==0">No message</span>
                                <span ng-show="unreadMsgs==1">msg</span>
                                <span ng-show="unreadMsgs>1">msgs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="flex dashboard-row-group-2col">-->
                <!--<div class="dashboard-col-padding">-->
                    <!--<div class="card dashboard-card">-->
                        <!--<div class="item card-item-overflow">-->
                            <!--<div class="dashboard-card-title">My request</div>-->
                            <!--<div class="dashboard-card-desc">waiting for approval</div>-->
                            <!--<div class="dashboard-card-icon"><i class="ion-ios-paper-outline" style="font-size: 58px"></i></div>-->
                            <!--<div class="dashboard-card-info"><span class="dashboard-red-number">{{thisUserRequest}}</span> req.</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="dashboard-col-padding">-->
                    <!--<div class="card dashboard-card">-->
                        <!--<div class="item card-item-overflow">-->
                            <!--<div class="dashboard-card-title">Unread msgs</div>-->
                            <!--<div class="dashboard-card-desc">waiting for approval</div>-->
                            <!--<div class="dashboard-card-icon"><i class="ion-ios-checkmark-outline" style="font-size: 50px"></i></div>-->
                            <!--<div class="dashboard-card-info"><span class="dashboard-red-number">{{peopleRequest}}</span> req.</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <!--<div class="flex dashboard-row">-->
            <!--<div class="dashboard-col-padding">-->
                <!--<div class="card dashboard-card">-->
                    <!--<div class="item card-item-overflow">-->
                        <!--<div class="dashboard-card-title" style="padding-bottom: 10px;">Doors expiry date</div>-->

                        <!--<div class="dashboard-card-row-content flex pointer" ng-repeat="data in doorsExpireData | orderBy:'expireDate'"-->
                             <!--ui-sref="mainMenu.doors.doorInfo({groupId: data.groupId, doorId: data.doorId})">-->

                            <!--<span class="dashboard-expire-row1">{{data.doorName}}</span>-->
                            <!--<span class="dashboard-expire-row2">-->
                                <!--<i class="ion-ios-clock-outline"></i>-->
                                <!--{{data.expireDate.getDate()}} {{month[data.expireDate.getMonth()]}} {{data.expireDate.getFullYear()}}-->
                            <!--</span>-->
                            <!--<span class="dashboard-expire-row3">-->
                                <!--<span class="dashboard-expire-number"-->
                                      <!--ng-class="{'assertive':(data.getTimeExpireDate<=getTimeDateNow),'balanced':(data.getTimeExpireDate>getTimeDateNow)}">-->

                                    <!--<span ng-show="diffValue==0"><i class="ion-ios-clock-outline assertive" style="font-size: 14px"></i></span>-->
                                    <!--<span ng-hide="diffValue==0">{{ diffValue = ((data.getTimeExpireDate-getTimeDateNow)/(24*3600*1000) + 1 ).toFixed(0)}}</span>-->
                                <!--</span>-->
                            <!--</span>-->
                            <!--<span class="dashboard-expire-row4">-->
                                <!--<span ng-show="diffValue==0" class="assertive">Today</span>-->
                                <!--<span ng-show="data.getTimeExpireDate<getTimeDateNow && diffValue!=0">days ago</span>-->
                                <!--<span ng-show="data.getTimeExpireDate>getTimeDateNow && diffValue!=0">days later</span>-->
                            <!--</span>-->

                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--If User can access doors in each building, show information all here-->
        <!--<div class="flex dashboard-row" ng-show="doorsNumber.numberOfBuildings>1">-->
            <!--<div class="dashboard-col-padding">-->
                <!--<div class="card dashboard-card">-->
                    <!--<div class="item card-item-overflow">-->
                        <!--<div class="dashboard-card-title" style="padding-bottom: 10px;">Doors-->
                            <!--<div class="dashboard-card-desc">I can access in each building</div>-->
                        <!--</div>-->

                        <!--<div class="dashboard-card-row-content flex" ng-repeat="data in doorsNumber">-->
                            <!--<span class="dashboard-access-doors-row">-->
                                <!--{{data.groupName}}-->
                            <!--</span>-->
                            <!--<span class="dashboard-access-doors-count">-->
                                <!--<span class="dashboard-access-doors-number">{{data.doors}}</span>-->
                            <!--</span>-->
                            <!--<span class="dashboard-access-doors-unit">-->
                                <!--<span ng-show="data.doors<=1">door</span>-->
                                <!--<span ng-show="data.doors>1">doors</span>-->
                            <!--</span>-->
                        <!--</div>-->


                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </ion-content>
</ion-view>
