<ion-view view-title="Dashboard">
    <ion-content style="padding-top: 4px;" class="custom-ion-content-bg">

        <div class="flex dashboard-row">
            <div class="flex dashboard-row-group-2col">
                <div class="dashboard-col-padding">
                    <!--Show Doors number User can access in first building only-->
                    <div class="card dashboard-card">
                        <div class="item card-item-overflow">
                            <div class="dashboard-card-title">Doors</div>
                            <div class="dashboard-card-desc">I can access</div>
                            <div class="dashboard-card-icon"><i class="flaticon-opened37" style="font-size: 50px"></i></div>
                            <div class="dashboard-card-info">In Robot <span class="dashboard-green-number">{{accessDoors}}</span> doors</div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-col-padding">
                    <div class="card dashboard-card">
                        <div class="item card-item-overflow">
                            <div class="dashboard-card-title">Unread msgs</div>
                            <div class="dashboard-card-desc">my notifications</div>
                            <div class="dashboard-card-icon"><i class="ion-ios-bell-outline" style="font-size: 62px"></i></div>
                            <div class="dashboard-card-info"><span class="dashboard-red-number">{{unreadMsgs}}</span> msgs</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex dashboard-row-group-2col">
                <div class="dashboard-col-padding">
                    <div class="card dashboard-card">
                        <div class="item card-item-overflow">
                            <div class="dashboard-card-title">My request</div>
                            <div class="dashboard-card-desc">waiting for approval</div>
                            <div class="dashboard-card-icon"><i class="ion-ios-paper-outline" style="font-size: 58px"></i></div>
                            <div class="dashboard-card-info"><span class="dashboard-red-number">{{thisUserRequest}}</span> req.</div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-col-padding">
                    <div class="card dashboard-card">
                        <div class="item card-item-overflow">
                            <div class="dashboard-card-title">Unread msgs</div>
                            <div class="dashboard-card-desc">waiting for approval</div>
                            <div class="dashboard-card-icon"><i class="ion-ios-checkmark-outline" style="font-size: 50px"></i></div>
                            <div class="dashboard-card-info"><span class="dashboard-red-number">{{peopleRequest}}</span> req.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex dashboard-row">
            <div class="dashboard-col-padding">
                <div class="card dashboard-card">
                    <div class="item card-item-overflow">
                        <div class="dashboard-card-title" style="padding-bottom: 10px;">Doors expiry date</div>
                        <div class="dashboard-card-row-content flex">
                            <span class="dashboard-expire-row1">R201, Robot</span>
                            <span class="dashboard-expire-row2">&nbsp;<i class="ion-ios-clock-outline"></i> 12 Apr 2015</span>
                            <span class="dashboard-expire-row3">&nbsp;<span class="dashboard-expire-number assertive">2</span> days ago</span>
                        </div>
                        <div class="dashboard-card-row-content flex">
                            <span class="dashboard-expire-row1">R300, Robot</span>
                            <span class="dashboard-expire-row2">&nbsp;<i class="ion-ios-clock-outline"></i> 21 Apr 2015</span>
                            <span class="dashboard-expire-row3">&nbsp;<span class="dashboard-expire-number calm">7</span> days later</span>
                        </div>
                        <div class="dashboard-card-row-content flex">
                            <span class="dashboard-expire-row1">WSN, Robot</span>
                            <span class="dashboard-expire-row2">&nbsp;<i class="ion-ios-clock-outline"></i> 19 Apr 2015</span>
                            <span class="dashboard-expire-row3">&nbsp;<span class="dashboard-expire-number calm">5</span> days later</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--If User can access doors in many buildings, show information all here-->
        <div class="flex dashboard-row">
            <div class="dashboard-col-padding">
                <div class="card dashboard-card">
                    <div class="item card-item-overflow">
                        <div class="dashboard-card-title" style="padding-bottom: 10px;">Doors in all building
                            <div class="dashboard-card-desc">I can access</div>
                        </div>

                        <div class="dashboard-card-row-content flex">
                            <div class="dashboard-access-doors-row">
                                In Robot
                                <span class="dashboard-access-doors-unit">
                                    <span class="dashboard-access-doors-number">3</span>
                                    <span>doors</span>
                                </span>
                            </div>
                        </div>
                        <div class="dashboard-card-row-content flex">
                            <div class="dashboard-access-doors-row">
                                In Robot 2
                                <span class="dashboard-access-doors-unit">
                                    <span class="dashboard-access-doors-number">10</span>
                                    <span>doors</span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
