<ion-view view-title="Doors">
    <ion-content>

        <div ng-repeat="building in doorsAccess">
            <div class="item item-divider">{{building.name}}</div>

            <div ng-repeat="door in building.doorsAccess" class="door-custom-row" ui-sref="mainMenu.doors.doorInfo({doorInfo: door})"
                    ng-class="{'royal-bg': (door.status.door=='opened')&&(door.status.lock=='locked')}">

                <div class="custom-row-icon">
                    <div class="door-status-icon">
                        <i class="ion-ios-locked balanced" ng-show="door.status.lock=='locked'"></i>
                        <i class="ion-ios-unlocked assertive" ng-show="door.status.lock=='unlocked'"></i>
                    </div>
                    <i class="flaticon-open203" ng-show="door.status.door=='opened'"></i>
                    <i class="flaticon-closed42" ng-show="door.status.door=='closed'"></i>
                </div>

                <div class="custom-row-title">
                    <div>{{door.name}}</div>
                    <div class="custom-row-desc">{{door.desc}}</div>
                    <div class="custom-row-font-status">
                        <span ng-show="(door.status.door=='opened')&&(door.status.lock=='locked')" class="assertive">Locked while opened !</span>
                        <span ng-show="(door.status.door!='opened')&&(door.status.lock=='locked')" class="balanced">Locked</span>
                        <span ng-show="door.status.lock=='unlocked'" class="assertive">Unlocked</span>
                    </div>
                </div>

                <div class="custom-row-button">
                    <button class="button button-outline button-block icon-left button-small button-balanced ion-ios-locked-outline"
                            ng-show="door.status.lock=='unlocked'">Lock</button>
                    <button class="button button-outline button-block icon-left button-small button-assertive ion-ios-unlocked-outline"
                            ng-show="door.status.lock=='locked'">Unlock</button>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
