<ion-view view-title="Doors">
    <ion-content>

        <div ng-repeat="group in doorsAccessData">
            <div class="item item-divider">{{group.name}}</div>
            <div class="row flex-wrap">
                <div ng-repeat="doorData in group.doorsAccess" class="door-custom-row" ng-class="{'royal-bg': (doorData.status.door=='opened')&&(doorData.status.lock=='locked')}">

                    <div class="custom-row-icon" ng-show="doorData.permission.viewStatus==false" ui-sref="mainMenu.doors.doorInfo({groupId: group.$id, doorId: doorData.$id})">
                        <i class="flaticon-closed42"></i>
                    </div>
                    <div class="custom-row-icon" ng-show="doorData.permission.viewStatus==true" ui-sref="mainMenu.doors.doorInfo({groupId: group.$id, doorId: doorData.$id})">
                        <div class="door-status-icon">
                            <i class="ion-ios-locked assertive" ng-show="doorData.status.lock=='locked'"></i>
                            <i class="ion-ios-unlocked balanced" ng-show="doorData.status.lock=='unlocked'"></i>
                        </div>
                        <i class="flaticon-open203" ng-show="doorData.status.door=='opened'"></i>
                        <i class="flaticon-closed42" ng-show="doorData.status.door=='closed'"></i>
                    </div>

                    <div class="custom-row-title" ui-sref="mainMenu.doors.doorInfo({groupId: group.$id, doorId: doorData.$id})">
                        <div>{{doorData.name}}</div>
                        <div class="custom-row-desc">{{doorData.desc}}</div>
                    </div>

                    <div class="custom-row-button" ng-show="doorData.permission.remoteControl==true">
                        <button class="button button-outline button-small button-dark" style="width: 72px"
                                ng-show="doorData.status.lock=='unlocked'">Lock</button>
                        <button class="button button-outline button-small button-dark" style="width: 72px"
                                ng-show="doorData.status.lock=='locked'">Unlock</button>
                    </div>

                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
