<ion-view view-title="WSN">

    <!--Door Info Content-->
    <ion-content ng-show="doorMenu.name=='doorInfo'">

        <div class="item item-divider">Door Information</div>
        <div class="door-custom-row">
            <div class="custom-row-icon">
                <div class="door-status-icon" ng-hide="true">
                    <i class="ion-ios-locked balanced"></i>
                </div>
                <i class="flaticon-closed42"></i>
            </div>
            <div class="custom-row-title">
                <div>R101, Robot</div>
                <div class="custom-row-desc">1st floor</div>
                <div class="custom-row-font-status balanced" ng-hide="true">
                    Locked
                </div>
            </div>
            <div class="custom-row-button" ng-hide="true">
                <button class="button button-outline button-block icon-left button-small button-assertive ion-ios-unlocked-outline">Unlock</button>
            </div>
        </div>

        <div class="item item-divider">My Access Time</div>
        <div class="access-time-container">
            <!--custom time-->
            <div class="flex access-time-padding flex-wrap">
                <div class="access-time-column">
                    1 Apr 2015 - 30 Apr 2015
                </div>
                <div class="flex flex-direction-column access-time-detail-column">
                    <div class="flex-1 day-circle-height">
                        <span class="day-circle energized-bg">M</span>
                        <span class="day-circle pink-bg tuesday-circle-margin">T</span>
                        <span class="day-circle balanced-bg wednesday-circle-margin">W</span>
                        <span class="day-circle thursday-circle-margin">Th</span>
                        <span class="day-circle friday-circle-margin">F</span>
                        <span class="day-circle saturday-circle-margin">Sa</span>
                        <span class="day-circle sunday-circle-margin">S</span>
                    </div>
                    <div class="flex-1">01.30 am - 04.30 pm</div>
                </div>
            </div>
            <!--privacy time-->
            <div class="flex access-time-padding flex-wrap">
                <div class="access-time-column access-time-privacy-height">
                    Term 1/2015<br>
                    <span class="access-time-desc">1 Apr 2015 - 30 Apr 2015</span>
                </div>
                <div class="flex flex-direction-column access-time-detail-column">
                    <div class="flex-1 day-circle-height">
                        <span class="day-circle energized-bg">M</span>
                        <span class="day-circle pink-bg tuesday-circle-margin">T</span>
                        <span class="day-circle balanced-bg wednesday-circle-margin">W</span>
                        <span class="day-circle orange-bg thursday-circle-margin">Th</span>
                        <span class="day-circle positive-bg friday-circle-margin">F</span>
                        <span class="day-circle violet-bg saturday-circle-margin">Sa</span>
                        <span class="day-circle assertive-bg sunday-circle-margin">S</span>
                    </div>
                    <div class="flex-1 access-time-privacy-height">
                        Working Time<br>
                        <span class="access-time-desc">08.30 am - 04.30 pm</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="item item-divider">My Recent Activity</div>
        <div class="log-container">
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">10 Apr 2015 08:30:00</div>
                <div class="log-detail">Unlocked door by card</div>
            </div>
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">10 Apr 2015 00:10:44</div>
                <div class="log-detail">Unlocked door by mobile</div>
            </div>
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">09 Apr 2015 08:30:00</div>
                <div class="log-detail">Unlocked door by card</div>
            </div>
            <button class="button button-outline button-block icon-left button-stable more-button">More Activity ...</button>
        </div>

        <div class="footer-tabs-height"></div>
    </ion-content>
    <!--End Door Info Content-->

    <!--Config Door Content-->
    <ion-content ng-show="doorMenu.name=='configDoor'" class="custom-ion-content-bg">

        <div class="list">
            <div class="item">
                Auto Relock Time
                <span class="item-note">5 s</span>
            </div>
        </div>
        <div class="item item-desc">
            Set time to lock the door after the door unlocked.
        </div>

        <div class="list">
            <div class="item item-toggle">
                Passcode Require
                <label class="toggle toggle-energized">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <div class="item item-desc">
            User must use card with user passcode to unlock the door.
        </div>

        <div class="list">
            <div class="item item-button-right">
                Passcode Unlock
                <button class="button button-clear custom-button-right-text">
                    <span class="text-before-arrow-right">2 passcode</span>
                    <i class="ion-ios-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="item item-desc">
            Create passcode for visitor or new member. New member can use this passcode unlock the door immediately.
        </div>

        <div class="list">
            <div class="item item-button-right">
                Auto Release
                <button class="button button-clear custom-button-right-text">
                    <span class="text-before-arrow-right">2 duration</span>
                    <i class="ion-ios-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="item item-desc">
            Set date & time to unlock the door
        </div>

        <div class="footer-tabs-height"></div>
    </ion-content>
    <!--End Config Door Content-->

    <!--Log Content-->
    <ion-content ng-show="doorMenu.name=='log'">
        <div class="flex justify-content-center align-items-center" style="border: solid 1px #e5e5e5; height: 42px; border-left: 0; border-right: 0;">
            <div class="flex-1" style="border: solid 1px #e5e5e5; height: 42px; border-left: 0;">
                <label><input type="date"></label>
            </div>
            <div style="flex-basis: 30px; width: 30px; font-size: 15px;">
                to
            </div>
            <div class="flex-1" style="border: solid 1px #e5e5e5; height: 42px; border-right: 0;">
                <label><input type="date"></label>
            </div>
        </div>
        <div class="flex justify-content-center align-items-center" style="border: solid 1px #e5e5e5; height: 42px; border-left: 0; border-right: 0; margin-top: -1px;">
            <div style="flex-basis: 28px; padding: 12px 10px 10px 10px; width: 28px;">
                <i class="ion-ios-search" style="font-size: 24px;"></i>
            </div>
            <div class="flex-1" style="border: solid 1px #e5e5e5; height: 42px; border-left: 0;">
                <input type="text" placeholder="Search Activity (unlocked, changed passcode, ...">
            </div>
            <div style="padding-top: 2px;">
                <button class="button button-stable button-small" style="border: 0; height: 42px; margin-top: -2px; border-radius: 0; background: #d8d8d8;">Search</button>
            </div>
        </div>

        <div class="log-container">
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">10 Apr 2015 08:30:00</div>
                <div class="log-detail">Unlocked door by card by 4910110555</div>
            </div>
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">10 Apr 2015 00:10:44</div>
                <div class="log-detail">Unlocked door by mobile by 4812346228</div>
            </div>
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">09 Apr 2015 08:30:00</div>
                <div class="log-detail">Unlocked door by card by 5010524884</div>
            </div>
        </div>
    </ion-content>

    <!--End Log Content-->

    <!--User Content-->
    <ion-content ng-show="doorMenu.name=='manageUser'" class="custom-ion-content-bg">
    </ion-content>
    <!--End User Content-->

    <div class="bar bar-footer bar-dark footer-tabs-height flex justify-content-center align-items-center">
        <div class="flex-1 flex flex-direction-column align-items-center footer-tab-column"
             ng-class="{'footer-tab-active': doorMenu.name=='doorInfo'}" ng-click="doorMenu.name='doorInfo'">

            <div class="footer-tab-icon tab-outline"><i class="flaticon-opened37" style="font-size: 21px;"></i></div>
            <div class="footer-tab-icon tab-filled"><i class="flaticon-opened37" style="font-size: 21px;"></i></div>
            <div class="footer-tab-title">Door Info</div>
        </div>
        <div class="flex-1 flex flex-direction-column align-items-center footer-tab-column"
             ng-class="{'footer-tab-active': doorMenu.name=='configDoor'}" ng-click="doorMenu.name='configDoor'">

            <div class="footer-tab-icon tab-outline"><i class="ion-ios-gear-outline"></i></div>
            <div class="footer-tab-icon tab-filled"><i class="ion-ios-gear"></i></div>
            <div class="footer-tab-title">Config Door</div>
        </div>
        <div class="flex-1 flex flex-direction-column align-items-center footer-tab-column"
             ng-class="{'footer-tab-active': doorMenu.name=='log'}" ng-click="doorMenu.name='log'">

            <div class="footer-tab-icon tab-outline"><i class="ion-ios-paper-outline"></i></div>
            <div class="footer-tab-icon tab-filled"><i class="ion-ios-paper"></i></div>
            <div class="footer-tab-title">Log</div>
        </div>
        <div class="flex-1 flex flex-direction-column align-items-center footer-tab-column"
             ng-class="{'footer-tab-active': doorMenu.name=='manageUser'}" ng-click="doorMenu.name='manageUser'">

            <div class="footer-tab-icon tab-outline"><i class="ion-ios-personadd-outline" style="font-size: 27px;"></i></div>
            <div class="footer-tab-icon tab-filled"><i class="ion-ios-personadd" style="font-size: 27px;"></i></div>
            <div class="footer-tab-title">Manage User</div>
        </div>
    </div>

</ion-view>