<ion-view view-title="{{doorData.name}}">

    <!--Door Info Content-->
    <ion-content ng-show="doorMenu.name=='doorInfo'">
        <!--Door Infomation-->
        <div class="item item-divider">Door Information</div>
        <div class="door-info-custom-row" style="border: 0" ng-class="{'royal-bg': (doorData.status.door=='opened')&&(doorData.status.lock=='locked')}">
            <div class="custom-row-icon" ng-show="doorData.permission.viewStatus==false">
                <i class="flaticon-closed42"></i>
            </div>
            <div class="custom-row-icon" ng-show="doorData.permission.viewStatus==true">
                <div class="door-status-icon" ng-hide="statusLoad.value==true">
                    <i class="ion-ios-locked assertive" ng-show="doorData.status.lock=='locked'"></i>
                    <i class="ion-ios-unlocked balanced" ng-show="doorData.status.lock=='unlocked'"></i>
                </div>
                <i class="flaticon-open203" ng-show="doorData.status.door=='opened'"></i>
                <i class="flaticon-closed42" ng-show="doorData.status.door=='closed'"></i>
            </div>
            <div class="custom-row-title">
                <div>{{doorData.name}}</div>
                <div class="custom-row-desc">{{doorData.desc}}</div>
            </div>
            <div class="custom-row-button" ng-show="(doorData.permission.remoteControl==true)&&(statusLoad.value==false)">
                <button class="button button-outline button-small button-dark" ng-click="changeLockStatus(doorData.status.lock)">
                    <span ng-show="doorData.status.lock=='unlocked'">Lock</span>
                    <span ng-show="doorData.status.lock=='locked'">Unlock</span>
                </button>
            </div>
            <div class="custom-row-spinner" ng-show="statusLoad.value==true">
                <ion-spinner class="spinner-energized" icon="ripple"></ion-spinner>
            </div>
        </div>
        <!--My Access Time-->
        <div class="item item-divider">My Access Time</div>
        <div class="access-time-container">
            <div class="access-time-row">
                <div class="access-date-column">Sat, 19 Jun 2015</div>
                <div class="flex flex-direction-column access-time-detail-column">
                    <div>01:30 pm - 04:30 pm <span class="calendar-list-title"> OOP</span></div>
                    <div>07:00 pm - 09:00 pm <span class="calendar-list-title"> Software Lab</span></div>
                    <div style="padding-bottom: 0">09:00 pm - 10:00 pm <span class="calendar-list-title"> COE24 Meeting</span></div>
                </div>
            </div>
            <div class="access-time-row">
                <div class="access-date-column">Tue, 22 Jun 2015</div>
                <div class="flex flex-direction-column access-time-detail-column">
                    <div style="padding-bottom: 0">08:30 pm - 10:30 pm <span class="calendar-list-title"> CPT</span></div>
                </div>
            </div>
            <div class="access-time-row">
                <div class="access-date-column">Wen, 23 Jun 2015</div>
                <div class="flex flex-direction-column access-time-detail-column">
                    <div style="padding-bottom: 0">08:30 pm - 10:30 pm <span class="calendar-list-title"> CPT</span></div>
                </div>
            </div>

            <button class="button button-outline button-block button-dark more-button">More ...</button>
        </div>
        <!--My Recent Activity-->
        <div class="item item-divider">My Recent Activity</div>
        <div class="log-container">
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">10 Apr 2015 08:30:00</div>
                <div class="log-detail">Unlocked door by card</div>
            </div>
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">10 Apr 2015 00:10:44</div>
                <div class="log-detail">Unlocked door by mobile</div>
            </div>
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">09 Apr 2015 08:30:00</div>
                <div class="log-detail">Unlocked door by card</div>
            </div>

            <button class="button button-outline button-block button-dark more-button" ui-sref="mainMenu.doors.doorInfo.myActivityLog">More ...</button>
        </div>

        <div class="footer-tabs-height"></div>
    </ion-content>
    <!--End Door Info Content-->

    <!--Config Door Content-->
    <ion-content ng-show="doorMenu.name=='configDoor'" class="custom-ion-content-bg">

        <!--Auto Relock-->
        <div class="flex align-items-center custom-setting-row-with-right-button" ng-class="{'custom-row-del-border-bottom':doorData.configDoor.autoRelock.status==true&&(autoRelock.load==false)}">
            <div class="custom-row-title">
                <div>Auto Relock</div>
            </div>
            <div class="custom-row-button" ng-hide="autoRelock.load">
                <label class="toggle toggle-energized">
                    <input type="checkbox" ng-model="doorData.configDoor.autoRelock.status" ng-change="autoRelockChecked()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="custom-row-spinner" ng-show="autoRelock.load">
                <ion-spinner class="spinner-energized" icon="ripple"></ion-spinner>
            </div>
        </div>
        <div class="item item-desc" ng-hide="doorData.configDoor.autoRelock.status==true&&(autoRelock.load==false)">
            Enable this menu to set time to lock door after door unlocked.
        </div>
        <div class="row-border-inset" ng-show="doorData.configDoor.autoRelock.status==true&&(autoRelock.load==false)"><div class="row-border-inset-color"></div></div>
        <div class="list" ng-show="doorData.configDoor.autoRelock.status==true&&(autoRelock.load==false)">
            <div class="item custom-row-del-border-top">
                Auto Relock Time
                <span class="item-note">
                    <div class="select-div">
                        <select class="custom-row-font-size">
                            <option>5 s</option>
                            <option>10 s</option>
                            <option>15 s</option>
                            <option>20 s</option>
                            <option>30 s</option>
                        </select>
                    </div>
                </span>
            </div>
        </div>
        <div class="item item-desc" ng-show="doorData.configDoor.autoRelock.status==true&&(autoRelock.load==false)">
            You can set time to lock door after door unlocked.
        </div>
        <!--PIN Required-->
        <div class="flex align-items-center custom-setting-row-with-right-button">
            <div class="custom-row-title">
                <div>PIN Required</div>
            </div>
            <div class="custom-row-button" ng-hide="pinRequired.load">
                <label class="toggle toggle-energized">
                    <input type="checkbox" ng-model="doorData.configDoor.pinRequired.status" ng-change="pinRequiredChecked()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="custom-row-spinner" ng-show="pinRequired.load">
                <ion-spinner class="spinner-energized" icon="ripple"></ion-spinner>
            </div>
        </div>
        <div class="item item-desc">
            Members must use card and PIN to unlock door.
        </div>

        <div class="footer-tabs-height"></div>
    </ion-content>
    <!--End Config Door Content-->

    <!--Log Content-->
    <ion-content ng-show="doorMenu.name=='log'">
        <div class="flex justify-content-center align-items-center search-container">
            <div class="flex-1 start-date-div"><label><input type="date"></label></div>
            <div class="to-div">to</div>
            <div class="flex-1 end-date-div"><label><input type="date"></label></div>
        </div>
        <div class="flex justify-content-center align-items-center search-container">
            <div class="search-icon-div">
                <i class="ion-ios-paper-outline"></i>
            </div>
            <div class="flex-1 search-input-div">
                <input type="text" placeholder="Search Activity">
            </div>
            <div class="search-button-div">
                <button class="button button-stable button-small custom-search-button">
                    <i class="ion-ios-search"></i>
                </button>
            </div>
        </div>

        <div class="log-container">
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">10 Apr 2015 08:30:00</div>
                <div class="log-detail">Unlocked door by card by 4910110555</div>
            </div>
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">10 Apr 2015 00:10:44</div>
                <div class="log-detail">Unlocked door by mobile by 4812346228</div>
            </div>
            <div class="flex log-row-padding flex-wrap">
                <div class="access-time-column">09 Apr 2015 08:30:00</div>
                <div class="log-detail">Unlocked door by card by 5010524884</div>
            </div>
        </div>
    </ion-content>
    <!--End Log Content-->

    <!--Manage Access Content-->
    <ion-content ng-show="doorMenu.name=='manageAccess'" class="custom-ion-content-bg">
        <div class="list pointer" ui-sref="mainMenu.doors.doorInfo.userManagement({doorId: doorId})">
            <div class="item item-button-right">
                User Management
                <button class="button button-clear custom-button-right-text">
                    <span class="text-before-arrow-right">2 members</span>
                    <i class="ion-ios-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="item item-desc">
            Create, remove, update permission and manage access time to unlock door for many user.
        </div>

        <div class="list pointer" ui-sref="mainMenu.doors.doorInfo.passcodeUnlock">
            <div class="item item-button-right">
                Passcode Unlock
                <button class="button button-clear custom-button-right-text">
                    <span class="text-before-arrow-right">2 passcodes</span>
                    <i class="ion-ios-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="item item-desc">
            Create passcode for visitor or new member. New member can use this passcode unlock door only.
        </div>

        <div class="flex align-items-center custom-setting-row-with-right-button pointer" ui-sref="mainMenu.doors.doorInfo.autoReleaseAccessTime({doorId: doorId})">
            <div class="custom-row-title">
                <div>Auto Release</div>
            </div>
            <div class="custom-setting-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="item item-desc">
            Set date & time to auto unlock door.
        </div>

    </ion-content>
    <!--End User Content-->

    <div class="bar bar-footer bar-dark footer-tabs-height flex justify-content-center align-items-center"
         ng-hide="(doorData.permission.configuration==false)&&(doorData.permission.viewLog==false)&&(doorData.permission.manageUser==false)">

        <div class="flex-1 flex flex-direction-column align-items-center footer-tab-column"
             ng-class="{'footer-tab-active': doorMenu.name=='doorInfo'}" ng-click="doorMenu.name='doorInfo'">

            <div class="footer-tab-icon tab-outline"><i class="flaticon-opened37" style="font-size: 21px; line-height: 26px;"></i></div>
            <div class="footer-tab-icon tab-filled"><i class="flaticon-opened37" style="font-size: 21px; line-height: 26px;"></i></div>
            <div class="footer-tab-title">Door Info</div>
        </div>
        <div class="flex-1 flex flex-direction-column align-items-center footer-tab-column"
             ng-class="{'footer-tab-active': doorMenu.name=='configDoor'}" ng-click="doorMenu.name='configDoor'"
             ng-show="doorData.permission.configuration==true">

            <div class="footer-tab-icon tab-outline"><i class="ion-ios-gear-outline"></i></div>
            <div class="footer-tab-icon tab-filled"><i class="ion-ios-gear"></i></div>
            <div class="footer-tab-title">Config Door</div>
        </div>
        <div class="flex-1 flex flex-direction-column align-items-center footer-tab-column"
             ng-class="{'footer-tab-active': doorMenu.name=='log'}" ng-click="doorMenu.name='log'"
             ng-show="doorData.permission.viewLog==true">

            <div class="footer-tab-icon tab-outline"><i class="ion-ios-paper-outline"></i></div>
            <div class="footer-tab-icon tab-filled"><i class="ion-ios-paper"></i></div>
            <div class="footer-tab-title">Log</div>
        </div>
        <div class="flex-1 flex flex-direction-column align-items-center footer-tab-column"
             ng-class="{'footer-tab-active': doorMenu.name=='manageAccess'}" ng-click="doorMenu.name='manageAccess'"
             ng-show="doorData.permission.manageAccess==true">

            <div class="footer-tab-icon tab-outline"><i class="ion-ios-personadd-outline" style="font-size: 27px;"></i></div>
            <div class="footer-tab-icon tab-filled"><i class="ion-ios-personadd" style="font-size: 27px;"></i></div>
            <div class="footer-tab-title">Manage Access</div>
        </div>
    </div>

</ion-view>