<ion-view view-title="Manage Card">
    <ion-content>

        <div class="custom-row">
            <div class="custom-row-icon">
                <i class="flaticon-debit"></i>
            </div>
            <div class="custom-row-title">
                <div>5310120240</div>
                <div class="custom-row-font-status balanced">
                    <i class="custom-row-status-icon ion-ios-checkmark"></i>&nbsp;Enabled
                </div>
            </div>
            <div class="custom-row-button">
                <button class="button-theme button-small button-assertive ion-ios-close-outline">Disable</button>
            </div>
        </div>

        <div class="custom-row stable-bg">
            <div class="custom-row-icon">
                <i class="flaticon-debit"></i>
            </div>
            <div class="custom-row-title">
                <div>4910110999</div>
                <div class="custom-row-font-status dark">
                    <i class="custom-row-status-icon ion-ios-close"></i>&nbsp;Void
                </div>
            </div>
            <div class="custom-row-button" ng-hide="true">
                <button class="button-theme button-small button-assertive ion-ios-close-outline">Disable</button>
            </div>
        </div>

    </ion-content>
</ion-view>