<ion-view title="My Activity Log in {{doorData.name}}">
    <ion-content>
        <div class="flex justify-content-center align-items-center search-container">
            <div class="flex-1 start-date-div"><label><input type="date" class="search-container-input" ng-model="logsStartDate"></label></div>
            <div class="to-div">to</div>
            <div class="flex-1 end-date-div"><label><input type="date" class="search-container-input" ng-model="logsEndDate"></label></div>
        </div>
        <div class="flex justify-content-center align-items-center search-container">
            <div class="search-icon-div">
                <i class="ion-ios-paper-outline"></i>
            </div>
            <div class="flex-1 search-input-div">
                <input type="text" placeholder="Search Activity" ng-model="searchLogsMsg" onkeydown="(event.keyCode == 13)? document.getElementById('searchLogs').click():''">
            </div>
            <div class="search-button-div">
                <button class="button button-stable button-small custom-search-button" ng-click="searchMyActivityLogs(searchLogsMsg, logsStartDate, logsEndDate)" id="searchLogs">
                    <i class="ion-ios-search"></i>
                </button>
            </div>
        </div>

        <div class="log-container">
            <div class="flex log-row-padding flex-wrap" ng-repeat="myActivity in myActivityLogsData | orderBy:'-createdAt'">
                <div class="access-time-column" ng-init="logTime=transformDateToMoment(myActivity.createdAt)">
                    {{ logTime.format('D MMM YYYY HH:mm') }}
                </div>
                <div class="log-detail">{{ myActivity.message }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>