<ion-view view-title="Notifications">
    <ion-content>

        <div class="custom-row" ui-sref="mainMenu.notifications.notification">
            <div class="custom-row-icon">
                <i class="ion-ios-close assertive"></i>
            </div>
            <div class="custom-row-title medium-font-size">
                <div>
                    You have been denied to enter R101 on 1 May 2012 from 1.00 pm to 2.00 pm
                </div>
                <div class="custom-row-font-status stable-font-color">
                    <i class="custom-row-status-icon ion-ios-clock-outline"></i>&nbsp;5 minutes ago
                </div>
            </div>
            <div class="custom-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

        <div class="custom-row">
            <div class="custom-row-icon">
                <i class="ion-ios-checkmark balanced"></i>
            </div>
            <div class="custom-row-title medium-font-size">
                <div>
                    You have been allowed to enter R101 on 28 Apr 2015 from 8.30 am to 12.00 am
                </div>
                <div class="custom-row-font-status stable-font-color">
                    <i class="custom-row-status-icon ion-ios-clock-outline"></i>&nbsp;1 day ago
                </div>
            </div>
            <div class="custom-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

        <div class="custom-row">
            <div class="custom-row-icon">
                <i class="ion-ios-plus balanced"></i>
            </div>
            <div class="custom-row-title medium-font-size">
                <div>
                    You have been added as a member of WSN, Robot by Prof.Wannarat
                </div>
                <div class="custom-row-font-status stable-font-color">
                    <i class="custom-row-status-icon ion-ios-clock-outline"></i>&nbsp;2 days ago
                </div>
            </div>
            <div class="custom-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

    </ion-content>
</ion-view>