<ion-view view-title="Notifications">
    <ion-content>

        <div class="custom-row" ng-repeat="notif in notifications | orderBy:createdAt:reverse" ui-sref="mainMenu.notifications.notification({notificationId: notif.id})">
            <div class="custom-row-icon">
                <i class="ion-ios-minus assertive" ng-show="notif.action=='removed'"></i>
                <i class="ion-ios-plus balanced" ng-show="notif.action=='added'"></i>
            </div>
            <div class="custom-row-title medium-font-size">
                <div ng-show="notif.action=='removed'">You have been {{notif.action}} from {{notif.door.name}} by {{notif.handler.name}}.</div>
                <div ng-show="notif.action=='added'">You have been {{notif.action}} as a member of {{notif.door.name}} by {{notif.handler.name}}.</div>

                <div class="custom-row-font-status stable-font-color">
                    <div style="display: none" ng-init="timeDuration=''">
                        {{ timeDuration = ( dateNow.getTime() - getTimeCreated(notif.createdAt) ) }}
                    </div>
                    <i class="custom-row-status-icon ion-ios-clock-outline"></i>&nbsp;{{ calcDate(timeDuration) }}
                </div>
            </div>
            <div class="custom-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

    </ion-content>
</ion-view>