<ion-view view-title="Profile Settings">
    <ion-content>

        <div class="custom-row" ui-sref="mainMenu.profile.changePin">
            <div class="custom-row-icon">
                <i class="ion-ios-keypad-outline"></i>
            </div>
            <div class="custom-row-title">
                Change PIN
            </div>
            <div class="custom-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

        <div class="custom-row" ui-sref="mainMenu.profile.manageCard">
            <div class="custom-row-icon">
                <i class="flaticon-debit"></i>
            </div>
            <div class="custom-row-title">
                Manage Card
            </div>
            <div class="custom-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

    </ion-content>
</ion-view>