<ion-view view-title="Settings">
    <ion-content>

        <div class="list">

            <a class="item item-icon-left" ui-sref="mainMenu.settings.changePasscode">
                <i class="icon ion-ios-keypad-outline"></i>
                Change Passcode
                <span class="item-note">
                    <i class="ion-ios-arrow-right"></i>
                </span>
            </a>

            <a class="item item-icon-left" ui-sref="mainMenu.settings.manageCard">
                <i class="icon flaticon-debit"></i>
                Manage Card
                <span class="item-note">
                    <i class="ion-ios-arrow-right"></i>
                </span>
            </a>

            <a class="item item-icon-left" ui-sref="mainMenu.settings.about">
                <i class="icon ion-ios-information-outline"></i>
                About
                <span class="item-note">
                    <i class="ion-ios-arrow-right"></i>
                </span>
            </a>

        </div>

    </ion-content>
</ion-view>