<ion-view view-title="Settings">
    <ion-content>

        <div class="custom-row" ui-sref="mainMenu.settings.changePasscode">
            <div class="custom-row-icon">
                <i class="ion-ios-keypad-outline"></i>
            </div>
            <div class="custom-row-title">
                Change Passcode
            </div>
            <div class="custom-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

        <div class="custom-row" ui-sref="mainMenu.settings.manageCard">
            <div class="custom-row-icon">
                <i class="flaticon-debit"></i>
            </div>
            <div class="custom-row-title">
                Manage Card
            </div>
            <div class="custom-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

        <div class="custom-row" ui-sref="mainMenu.settings.about">
            <div class="custom-row-icon">
                <i class="ion-ios-information-outline"></i>
            </div>
            <div class="custom-row-title">
                About
            </div>
            <div class="custom-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

    </ion-content>
</ion-view>