<ion-view title="Share Calendar with">

    <ion-nav-buttons side="right">
        <button class="button button-clear flaticon-plus79 bg-none" ng-click="addUserModal.show()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="flex justify-content-center align-items-center search-container">
            <div class="search-icon-div">
                <i class="ion-ios-person-outline search-person-icon"></i>
            </div>
            <div class="flex-1 search-input-div" ng-init="search=''">
                <input type="text" placeholder="User ID, Name or Access Role" ng-model="search">
            </div>
        </div>

        <div class="list pointer"  ng-repeat="userCalendar in usersCalendar | filter:search" ng-click="editAccessRole(userCalendar.id, userCalendar.user.id, $event)">
            <div class="item item-button-right">
                <div class="flex">
                    <div class="custom-row-user-id">
                        {{userCalendar.user.employeeNumber}}
                    </div>
                    <div class="custom-row-title">
                        {{userCalendar.user.firstName}} {{userCalendar.user.lastName}}
                    </div>
                </div>
                <button class="button button-clear custom-button-right-text">
                    <span class="text-before-arrow-right-small">{{userCalendar.accessRole}}</span>
                    <span style="width: 6px" ng-show="userCalendar.user.id==userId"></span>
                    <i class="ion-ios-arrow-right" ng-hide="userCalendar.user.id==userId"></i>
                </button>
            </div>
        </div>

    </ion-content>


</ion-view>