<ion-view title="User Management in {{doorName}}">

    <ion-nav-buttons side="right">
        <button class="button button-clear flaticon-plus79 bg-none" ui-sref="mainMenu.doors.doorInfo.userManagement.addUser">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="flex justify-content-center align-items-center search-container">
            <div class="search-icon-div">
                <i class="ion-ios-person-outline search-person-icon"></i>
            </div>
            <div class="flex-1 search-input-div" ng-init="search=''">
                <input type="text" placeholder="User ID or Name" ng-model="search">
            </div>
        </div>

        <div class="custom-user-row" ng-repeat="doorUser in doorUsers | filter:search" ui-sref="mainMenu.doors.doorInfo.userManagement.editUser({doorUserId: doorUser.id})">
            <div class="custom-row-user-id">
                {{doorUser.user.employeeNumber}}
            </div>
            <div class="custom-row-title">
                {{doorUser.user.firstName}} {{doorUser.user.lastName}}
            </div>
            <div class="custom-setting-row-arrow">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </div>

    </ion-content>
</ion-view>